<style>
 .scrollable-panel {
     overflow-y: scroll;
 }
</style>
<div>
  <div class='col-lg-10 col-lg-offset-1 offset-lg-1
	      col-md-10 col-md-offset-1 offset-md-1
	      col-sm-10 col-sm-offset-1 offset-sm-1
	      col-xs-12 col-xs-offset-0'>
    <div class='panel card panel-default' id='aup-panel'>
      <div class='panel-body card-body'>
	<div class="scrollable-panel"></div>
      </div>
      <div class='panel-footer card-footer'>
	<center>
          <button class='btn btn-primary btn-sm disabled'; type='button'
		  id='confirm-aup'>Accept</button>
	</center>
      </div>
    </div>
  </div>
</div>
<div id='mustaccept-modal' class='modal fade'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-header'>
        <button type='button' class='close btn-close'
		data-dismiss='modal' data-bs-dismiss='modal' 
                aria-hidden='true'></button>
	<center><h4>Please Accept our AUP</h4></center>
      </div>
      <div class='modal-body'>
	<p class="lead">
	  <% if (window.ISPOWDER) { %>
	    As the POWDER platform transitions into availability of
	    general over-the-air operation, platform users need to
	    agree to this updated acceptable-use-policy (AUP).
	  <% } else { %>
	    Please take a moment to read and accept this updated
	    acceptable-use-policy (AUP).
	  <% } %>
	</p>
      </div>
    </div>
  </div>
</div>
