<style>

.panel-body-dashboard {
	padding: 2px;
}
.table-dashboard {
	margin: 1px;
}
.popover{
	max-width: 800px;
}
.table-condensed > thead > tr > th,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > td {
	padding: 2px;
}
.panel-heading {
       padding: 10px 5px;
}
.inuse-panel {
	height:350px;
	overflow-y:scroll;
}
.counts-panel {
	max-height:385px;
	overflow-y:scroll;
}
.prereserve-panel {
	max-height:250px;
	overflow-y:scroll;
}
.hiddenRow {
        padding: 0 !important;
}
</style>
<% if (window.ISCLOUD) { %>
  <div class='row' style="margin-bottom: 5px">
    <div
	<% if (isadmin) { %>
	    class='col-sm-8 col-sm-offset-3 offset-sm-3'
	<% } else { %>
            class='col-sm-5 col-sm-offset-5 offset-sm-5'
	<% } %> >
      <input class='form-control search'
	     type='search' data-column='all'
	     id='inuse-search-all' placeholder='Global Search'>
    </div>
  </div>
<% } %>
<% _.each(amlist, function(info, name) { %>
  <div class='row' id='cluster-status-<%- name %>'>
    <div
	<% if (isadmin) { %>
           class='col-sm-3'
	<% } else { %>
	   class='col-sm-3 col-sm-offset-2 offset-sm-2'
	<% } %> >
      <div class='panel card panel-default'>
	<div class="panel-heading card-header"
	     style="padding-top: 10px; padding-bottom: 12px;">
	  <h5 class="panel-title card-title card-title-small">
	    <center><%- name %> Totals</center></h5>
	</div>
	<div class='panel-body card-body panel-body-dashboard'>
	  <div class="counts-panel" id='counts-panel-<%- name %>'>
	    <!-- Template goes here -->	    
	  </div>
	</div>
      </div>
      <div class='resgraph-spinner'>
	<center>
	  <img src='images/spinner.gif' /></center>
      </div>
    </div>
    <div
	<% if (isadmin) { %>
        class='col-sm-9'
	<% } else { %>
	class='col-sm-5'
	<% } %> >
      <div class='panel card panel-default'>
	<!-- heading padding cause of the URN subtitle below -->
	<div class="panel-heading card-header"
	     style="padding: 5px;"
	     id='inuse-click-<%- name %>'>
	  <h5 class="panel-title card-title card-title-small">
	    <a href="#inuse-panel-<%- name %>">
	      <span id="inuse-collapse-button-<%- name %>"
		    class="glyphicon glyphicon-chevron-right pull-left"></span>
	    </a>
	    <center><%- name %> Nodes
	      <div><span class=small><%- info.urn %></span></div>
	    </center>
	  </h5>
	</div>
	<div class='panel-body card-body panel-body-dashboard'>
	  <div class="row">
	    <div class='col-sm-6'>	      
	      <input class='form-control search'
		     type='search' data-column='all'
		     id='inuse-search-<%- name %>'
		     placeholder='Search <%- name %>'>
	    </div>
	    <div class='col-sm-5'>
	      <span id='inuse-count-<%- name %>'>0</span>
	      <span> matched rows</span>
	    </div>
	  </div>
	  <div class="inuse-panel" id='inuse-panel-<%- name %>'
	       data-status="minimized">
	    <table class="tablesorter hidden" id='inuse-table-<%- name %>'>
	      <thead>
		<tr>
		  <th>Node</th>
		  <th>Type</th>
		  <% if (isadmin) { %>
		    <th>Pid</th>
		    <th>Eid</th>
		    <th>User</th>
		    <th class="sorter-sugar" data-filter="false">Expires</th>
		    <th class="sorter-sugar" data-filter="false">Allowed</th>
		    <th>PreRes</th>
		  <% } else { %>
		    <th data-filter="false">Free?</th>
		  <% } %>
		</tr>
	      </thead>
	      <tbody id='<%- name %>-tbody'>
	      </tbody>
	    </table>
	    <center style="margin-top: 10px;"
		 class='cluster-status-error
			align-center text-danger hidden'></center>
	  </div>
	</div>
      </div>
    </div>
  </div>
  <% if (isadmin) { %>
  <div class='row hidden' id="prereserve-row-<%- name %>">
    <div class='col-sm-9 col-sm-offset-3 offset-sm-3'>
      <div class='panel  card panel-default'>
	<div class="panel-heading card-header"
	     id='prereserve-click-<%- name %>'>
	  <h5 class="panel-title card-title card-title-small">
	    <a href="#prereserve-row-<%- name %>">
	      <span id="prereserve-collapse-button-<%- name %>"
		    class="glyphicon glyphicon-chevron-right pull-left">
	      </span>
	    </a>
	    <center>Pre Reservations <%- name %></center>
	  </h5>
	</div>
	<div class='panel-body card-body panel-body-dashboard'>
	  <div class="collapse" id='prereserve-panel-<%- name %>'
	       data-status="minimized">
	    <!-- Template goes here -->	    
	  </div>
	</div>
      </div>
    </div>
  </div>
  <% } %>
<% }); %>
