<div id='confirm-something' class='modal fade'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-header'>
        <center><h4 class="prompt">Confirm?</h4></center>
      </div>
      <div class='modal-body'>
	<center>
          <button class='btn btn-danger btn-sm confirm-button'>
	    Confirm</button>
          <button class='btn btn-default btn-sm cancel-button'>
	    Cancel</button>
	</center>
      </div>
    </div>
  </div>
</div>
