<style type="text/css">
.nowrap {  white-space: nowrap; }
.popover {
	width:auto !important;
	max-width: none !important;
	min-width: 450 !important;
}
.hidden-column {
	display: none;
}
</style>
<div class='row'>
  <div class='col-sm-12'>
    <div class='panel  card panel-default'>
      <div class='panel-body card-body' id="images-div">
	<div class="row justify-content-start align-items-center mb-1">
	  <div class="col-sm-3">
	    <input class='form-control form-control-md search'
		   type='search' data-column='all'
		   id='images-search' placeholder='Search Table'>
	  </div>
	  <div class="col-sm-9">
	    <div class="row justify-content-between align-items-center">
	      <div class="col-sm-8">
		<div class="form-check form-switch form-check-inline">
		  <input class="form-check-input" checked
			 type="checkbox" role="switch"
			 id="project-images">
		  <label class="form-check-label"
			 data-toggle='tooltip' data-bs-toggle='tooltip'
			 data-container="body" data-bs-container="body"
			 data-trigger="hover" data-bs-trigger="hover"
			 title='Images created in projects you are a member of'>
		    Project</label>
		</div>
		<div class="form-check form-switch form-check-inline">
		  <input class="form-check-input" checked
			 type="checkbox" role="switch"
			 id="system-images">
		  <label class="form-check-label"
			 data-toggle='tooltip' data-bs-toggle='tooltip'
			 data-container="body" data-bs-container="body"
			 data-trigger="hover" data-bs-trigger="hover"
			 title='Official images created
				by system adminstrators'>
		    System</label>
		</div>
		<% if (all) { %>
		  <div class="form-check form-switch form-check-inline">
		    <input class="form-check-input" checked
			   type="checkbox" role="switch"
			   id="public-images">
		    <label class="form-check-label"
			   data-toggle='tooltip' data-bs-toggle='tooltip'
			   data-container="body" data-bs-container="body"
			   data-trigger="hover" data-bs-trigger="hover"
			   title='Public images created by anyone'>
		      Public</label>
		  </div>
		  <div class="form-check form-switch form-check-inline">
		    <input class="form-check-input" checked
			   type="checkbox" role="switch"
			   id="admin-images">
		    <label class="form-check-label"
			   data-toggle='tooltip' data-bs-toggle='tooltip'
			   data-container="body" data-bs-container="body"
			   data-trigger="hover" data-bs-trigger="hover"
			   title='All other images (red-dot mode)'>
		      Red-Dot</label>
		  </div>
		<% } %>
		<a href='#' class='btn btn-xs'
		   data-toggle='modal' data-bs-toggle='modal'
		   data-target='#help-modal' data-bs-target='#help-modal'>
		  <span class='glyphicon glyphicon-question-sign'
			style='margin-bottom: 4px; margin-left: -5px'>
		  </span></a>
	      </div>
	      <div class="col-sm-4">
 		<% if (isadmin && window.ISEMULAB) { %>
 		  <% if (all) { %>
		    <a href="images.php"
		       class='btn btn-primary btn-xs pull-right'
		       data-toggle='tooltip' data-bs-toggle='tooltip'
		       data-container="body" data-bs-container="body"
		       data-trigger="hover" data-bs-trigger="hover"
		       title='Show normal (mere user) list.'
		       type='button' name='some'>User View</a>
		  <% } else { %>
		    <a href="images.php?all=1"
		       class='btn btn-danger btn-xs pull-right'
		       data-toggle='tooltip' data-bs-toggle='tooltip'
		       data-container="body" data-bs-container="body"
		       data-trigger="hover" data-bs-trigger="hover"
		       title='Show every image (red-dot mode)'
		       type='button' name='all'>ALL Images</a>
		  <% } %>
		  <a href="../showimageid_list.php3?classic=1"
		     style='margin-right: 10px;'
		     class='btn btn-primary btn-xs pull-right'
		     data-toggle='tooltip' data-bs-toggle='tooltip'
		     data-container="body" data-bs-container="body"
		     data-trigger="hover" data-bs-trigger="hover"
		     title='Emulab Classic version of this page'
		     type='button' name='some'>Classic</a>
		<% } %>
	      </div>
	    </div>
	  </div>
	</div>
	<div class="table-responsive">
	  <table class='tablesorter' id='images-table'>
	    <thead>
	      <tr>
		<th>Name</th>
		<th>Creator</th>
		<th>Project</th>
		<th class="nowrap">Updated</th>
		<% if (showformat) { %>
		  <th class="nowrap">Format
		    <a href='#' class='btn btn-xs tablesorter-noSort'
		       data-toggle='modal' data-bs-toggle='modal'
		       data-target='#image-format-modal'
		       data-bs-target='#image-format-modal'>
		      <span class='glyphicon glyphicon-question-sign'
			    style='margin-bottom: 4px;'>
		      </span></a>		    
		  </th>
		<% } %>
		<th class="sorter-false">Description</th>
		<th class="sorter-false">URN</th>
		<th class="hidden-column">Filters</th>
	      </tr>
	    </thead>
	    <tbody>
	      <% var creator_re = /(creator|project)/; %>
	      <% var project_re = /project/; %>
	      <% _.each(images, function(value, index) { %>
		<tr>
		  <% if (_.has(value, "url")) { %>
		    <td><a href="<%- value.url %>" target="_blank">
		      <%= value.imagename %></a></td>
		  <% } else { %>
		    <td><%= value.imagename %></td>
	          <% } %>
		  <% if (isadmin || value.filter.search(creator_re) >= 0) { %>
		    <td><a href='user-dashboard.php?uid=<%- value.creator_idx %>'>
		      <%= value.creator %></a></td>
		  <% } else { %>
		      <td><%= value.creator %></td>
                  <% } %>
		  <% if (isadmin || value.filter.search(project_re) >= 0) { %>
		    <td><a href='show-project.php?pid=<%- value.pid_idx %>'>
		      <%= value.pid %></a></td>
		  <% } else { %>
		     <td><%= value.pid %></td>
                  <% } %>
		  <td class="format-date nowrap"><%- value.updated %></td>
		  <% if (showformat) { %>
		    <td>
		      <%- value.format == "ndz" ? "standard" : value.format %>
		    </td>
		  <% } %>
		  <td><%- value.description %></td>
		  <td align="center">
		    <a href="#" data-urn="<%- value.urn %>" class="urn-button">
		      <span class="glyphicon glyphicon-link"></span>
		    </a>
		  </td>
		  <td class="hidden-column"><%- value.filter %></td>
		</tr>
	      <% }); %>
	    </tbody>
	  </table>
	</div>
      </div>
    </div>
  </div>
</div>
<div id='help-modal' class='modal fade'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-header'>
        <button type='button' class='close btn-close'
		data-dismiss='modal' data-bs-dismiss='modal'
                aria-hidden='true'></button>
	<h4 class='modal-title text-center'>How to use an image?</h4>
      </div>
      <div class='modal-body'>
	<p>
	  The images shown on this page are the ones you can use in
	  your profiles.
	  <% if (all) { %>
	    These include images created by you, system
	    images created by adminstrators, images created other users
	    in projects you belong to, and lastly, images that have been
	    created by users in other projects, that have been marked
	    public and available for anyone to use.
	  <% } else { %>
	    These include system images created by adminstrators, and
	    images created other users in projects you belong to. You can
	    list images created by <b>you</b>, by clicking on the <b>Storage</b>
	    menu above and selecting <b>My Disk Images</b>.
	  <% } %>
	</p>
	<p>
	  To use an image listed on this page, click on the link icon in the
	  URN column and copy the text. Paste that text into your
	  geni-lib script or RSpec. For example, see the
	  <a href="show-profile.php?project=PortalProfiles&profile=single-pc-ubuntu">single-pc-ubuntu</a> profile.
	</p>
	<p>
	  For more information please see the manual.
	</p>
      </div>
    </div>
  </div>
</div>
<div id='image-format-modal_div'></div>

