<div id='image-format-modal' class='modal fade'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-header'>
        <button type='button' class='close btn-close'
		data-dismiss='modal' data-bs-dismiss='modal'
                aria-hidden='true'>;</button>
	<h4 class='modal-title text-center'>A note about image formats</h4>
      </div>
      <div class='modal-body'>
	<p>
	  There are currently two different image formats:
	  <ul>
	    <li><b>standard</b>: A standard disk image is one that can
	      be loaded on either a <em>bare metal</em> node or a XEN
	      virtual machine. The images are interchangeable between
	      the two; if you take a snapshot of a bare metal machine,
	      that disk image can then be loaded on a XEN VM. The
	      reverse is also true. The is the default image format
	      used across all clusters.
	    </li>
	    <li><b>docker</b>: Some clusters support docker containers
	      as virtual nodes. Images in the docker format can be
	      used as disk images in docker containers. Detailed information
	      on using docker containers and images for them, can be found in
	      the <a target="_blank"
		     href="<%- window.MANUAL %>/virtual-machines-advanced.html#%28part._docker-containers%29">manual</a>
	    </li>
	  </ul>
	</p>
      </div>
    </div>
  </div>
</div>
