<style>
 .panel-body-dashboard {
     padding: 2px;
 }
 .table-dashboard {
     margin: 1px;
 }
 .popover, .popover-content {
     width:auto !important;
     max-width: 700 !important;
     min-width: 450 !important;
 }
 .table-condensed > thead > tr > th,
 .table-condensed > tbody > tr > th,
 .table-condensed > tfoot > tr > th,
 .table-condensed > thead > tr > td,
 .table-condensed > tbody > tr > td,
 .table-condensed > tfoot > tr > td {
     padding: 2px;
 }
 .panel-heading-list {
     padding: 2px;
 }
</style>
<div class='col-lg-10 col-lg-offset-1
	    col-md-10 col-md-offset-1
	    col-sm-12 col-sm-offset-0
	    col-xs-12 col-xs-offset-0'>
  <a href="vlan-history.php">Vlan History</a>
  <div class='panel panel-default'>
    <div class='panel-body panel-body-dashboard'>
      <div class="table-responsive">
	<table class='tablesorter'>
	  <thead>
	    <tr>
	      <th>ID</th>
	      <th>PID</th>
	      <th>EID</th>
	      <th>Link Name</th>
	      <th>Tag</th>
	      <th>Stack</th>
	    </tr>
	  </thead>
	  <tbody>
	    <% _.each(vlans, function(info, index) { %>
	      <tr>
		<td><a href="show-vlan.php?id=<%- info.id %>"
		       target="_blank"><%- info.id %></a></td>
		<td><a href="show-project.php?pid=<%- info.pid %>"
		       target="_blank"><%- info.pid %></a></td>
		<td>
		  <% if (_.has(info, "instance_uuid")) { %>
		    <a href="status.php?uuid=<%- info.instance_uuid %>"
		       target="_blank"><%- info.eid %></a>
		  <% } else { %>
		    <a href="<%- window.CLASSIC %>/showexp.php3?pid=<%- info.pid %>&eid=<%- info.eid %>"
		       target="_blank"><%- info.eid %></a>
		  <% } %>
		</td>
		<td><%- info.virtual %></td>
		<td><%- info.tag %></td>
		<td><%- info.stack %></td>
	      </tr>
	    <% }); %>
	  </tbody>
	</table>
      </div>
    </div>
  </div>
</div>
