<div>
  <table class='tablesorter' id='members_table'>
    <thead>
      <tr>
	<th>UID</th>
	<th>Name</th>
	<th>Email</th>
	<th>Joined</th>
	<% if (canapprove) { %>
	  <th>Usage
	    <span data-toggle="tooltip" data-bs-toggle="tooltip"
		  data-trigger="hover" data-bs-trigger="hover"
		  title="Number of node hours used in the last month."
		  class='glyphicon glyphicon-question-sign'
		  style='margin-bottom: 4px;'></span>
	  </th>
	<% } %>
	<th class="sorter-false">Privs
	  <a href='#' class='btn btn-xs' data-toggle='modal' data-bs-toggle='modal'
             data-target='#privs-help-modal' data-bs-target='#privs-help-modal'>
            <span class='glyphicon glyphicon-question-sign'
		  data-toggle="tooltip" data-bs-toggle="tooltip"
		  data-trigger="hover" data-bs-trigger="hover"
		  title="Click for info about privileges."
		  style='margin-bottom: 4px;'>
	    </span></a></th>
	<% if (canedit || canapprove) { %>
          <th class="sorter-false">
	    <button id='remove-users-button' type='button' disabled
		    data-toggle='modal' data-bs-toggle='modal'
		    data-target='#confirm-remove-users-modal'
		    data-bs-target='#confirm-remove-users-modal'		    
		    class='btn btn-danger btn-xs'>Remove</button>
	    <span data-toggle="tooltip" data-bs-toggle="tooltip"
		  data-trigger="hover" data-bs-trigger="hover"
		  class='glyphicon glyphicon-question-sign'
		  title="Remove selected users from this
			 <% if (pid == gid) { %>project
			 <% } else { %>group<% } %>"
		  style='margin-bottom: 4px;'></span>
	  </th>
	<% } %>
      </tr>
    </thead>
    <tbody>
      <% _.each(members, function(value, uid) { %>
	<tr>
	  <td><a href='user-dashboard.php?user=<%- uid %>'><%= uid %></a></td>
	  <td>
	    <span <% if (!value.approved) { %>class="text-danger"<% } %>>
	      <%= value.name %></span></td>
	  <td><a href="mailto:<%= value.email %>"><%= value.email %></a></td>
	  <td>
	    <span class="format-date
			 <% if (!value.approved) { %>text-danger<% } %>">
	      <%- value.joined %></span>
	  </td>
	  <% if (canapprove) { %>
	    <td>
	      <% if (_.has(value, "usage")) { %>
		<%- value.usage.phours %>
	      <% } else { %>
		0
	      <% } %>
	    </td>
	  <% } %>
	  <% if ((canedit || canapprove) &&
	         value.trust != "leader" && value.candelete) { %>
	    <% var trustvalues = ["none", "user","root","manager"]; %>
	    <td>
	      <select class="editprivs" data-uid="<%- uid %>">
		<% _.each(trustvalues, function(trust) { %>
		  <% if (value.approved && trust == "none") { return; } %>
		  <% if (!canbestow && trust == "manager") { return; } %>
		  <option value="<%- trust %>"
			  <% if (value.trust == trust) { %>selected<% } %>>
		    <% if (trust == "none") { trust = "Please Select"; } %>
		    <%- trust %></option>
		<% }); %>
	      </select>
	      <% if (value.trust == "none") { %>
		<span data-toggle="popover" data-bs-toggle="popover"
		      data-trigger="hover" data-bs-trigger="hover"
		      data-content="This user has asked to join this
		      <% if (pid == gid) {%>project.<% } else { %>group.<% } %>
		      You can approve the request by setting the user's
		      permission, or you can deny the request by removing the
		      user."
		      class='glyphicon glyphicon-question-sign'
		      style='margin-bottom: 4px;'></span>
	      <% } %>
	    </td>
	  <% } else {%>
	    <td><%- value.trust %></td>
	  <% } %>
	  <% if (canedit || canapprove) { %>
	    <% if (value.trust != "leader" && value.candelete) { %>
	      <td><input class="remove-checkbox" data-uid="<%- uid %>"
			 type="checkbox"></td>	      
	    <% } else {%>
	      <td>&nbsp</td>
	    <% } %>
	  <% } %>	    
	</tr>
      <% }); %>
    </tbody>
  </table>
</div>
<% if (Object.keys(nonmembers).length) { %>
  <div>
    <center><h4>Non-members that can be added to the group</h4></center>
    <table class='tablesorter' id='nonmembers_table'>
      <thead>
	<tr>
	  <th>UID</th>
	  <th>Name</th>
	  <th>Email</th>
	  <th class="sorter-false">Privs
	    <a href='#' class='btn btn-xs' data-toggle='modal' data-bs-toggle='modal'
               data-target='#privs-help-modal' data-bs-target='#privs-help-modal'>
              <span class='glyphicon glyphicon-question-sign'
		    style='margin-bottom: 4px;'>
	      </span></a>
	    <button id='add-users-button' type='button' disabled
		    style="margin-left: 20px;"
		    data-toggle='modal' data-bs-toggle='modal'
		    data-target='#confirm-add-users-modal'
		    data-bs-target='#confirm-add-users-modal'
		    class='btn btn-success btn-xs'>Update</button>
	  </th>
	</tr>
      </thead>
      <tbody>
	<% _.each(nonmembers, function(value, uid) { %>
	  <tr>
	    <td><a href='user-dashboard.php?user=<%- uid %>'><%= uid %></a></td>
	    <td><%= value.name %></td>
	    <td><a href="mailto:<%= value.email %>"><%= value.email %></a></td>
	    <% var trustvalues = ["none", "user","root","manager"]; %>
	    <td>
	      <select class="editprivs" data-uid="<%- uid %>">
		<% _.each(trustvalues, function(trust) { %>
		  <% if (!canbestow && trust == "manager") { return; } %>
		  <option value="<%- trust %>"
			  <% if (value.trust == trust) { %>selected<% } %>>
		    <% if (trust == "none") { trust = "Please Select"; } %>
		    <%- trust %></option>
		<% }); %>
	      </select>
	    </td>
	  </tr>
	<% }); %>
      </tbody>
    </table>
  </div>
<% } %>
<div id='privs-help-modal' class='modal fade'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-header'>
        <button type='button' class='close btn-close'
		data-dismiss='modal' data-bs-dismiss='modal'
                aria-hidden='true'></button>
	<h4 class='modal-title text-center'>More about privileges</h4>
      </div>
      <div class='modal-body'>
	Users may have one of several permissions in a project (or a
	subgroup):
	<ul>
	  <li>
	    <b>User:</b> - Users with this permission are not allowed
	    to start new experiments, nor do they have root access on
	    nodes. Typically this permission is used in classes, where
	    students need to log into nodes, but not be able to alter
	    any state or view anything except what standard unix
	    permissions allow. See the note below for additional
	    information.
	  </li>
	  <li>
	    <b>Root:</b> - The most common permission granted, users
	    with this permission are allowed to start new experiments,
	    and have root access (via <tt>sudo</tt>) on all nodes
	    belonging to experiments in the project (or subgroup).  In
	    a class setting, this means that users can log into the
	    nodes of other students and view any files they want.
	  </li>
	  <li>
	    <b>Manager:</b> - In addition to the privileges granted with
	    <b>root</b>, managers are allowed to approve new users to
	    the project or subgroup, as well as set the privileges for
	    other members of the project or subgroup. Typically class
	    TAs would be given this permission so that they can help
	    the instructor manage the class.
	  </li>
	</ul>
	<p>
	  A note about teaching classes and using <b>user</b> privileges:
	  a common practice in classes is to place different sets of
	  students in different subgroups and give them <b>root</b>
	  privileges so that they can create experiments in those
	  subgroups. On the nodes, accounts are built only for those
	  members of the subgroup, and those members have root
	  access. Students in other subgroups will not be able to log
	  into the nodes. This isolates the groups of students (or
	  even one student per subgroup) from each other.
	  <em><b>However</b></em> in order
	  for this to be completely secure, you <b>must assign
	  <em>user</em> permissions to students in the project main
	  (default) group</b>. This will prevent students from
	  creating experiments in the main group, which would give
	  them root access on nodes that include the accounts of all
	  students in the project. And with root access, they can
	  access all the files of all the members of the project. 
	</p>
      </div>
    </div>
  </div>
</div>
<!-- Confirm Remove -->
<div id='confirm-remove-users-modal' class='modal fade'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-body'>
        <center><h4>Confirm to remove users</h4>
	  <br>
          <button class='btn btn-danger btn-sm confirm-button'
		  id='confirm-remove-users'>Confirm</button>
          <button class='btn btn-default btn-sm cancel-button'
		  data-dismiss='modal' data-bs-dismiss='modal'
		  id='cancel-user-privs'>Cancel</button>
	</center>
      </div>
    </div>
  </div>
</div>
<!-- Confirm Add -->
<div id='confirm-add-users-modal' class='modal fade'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-body'>
        <center><h4>Confirm to add users</h4>
	  <br>
          <button class='btn btn-primary btn-sm confirm-button'
		  id='confirm-add-users'>Confirm</button>
          <button class='btn btn-default btn-sm cancel-button'
		  data-dismiss='modal' data-bs-dismiss='modal'
		  id='cancel-user-privs'>Cancel</button>
	</center>
      </div>
    </div>
  </div>
</div>
<!-- Confirm User privs -->
<div id='confirm-user-privs-modal' class='modal fade'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-body'>
	<div>
	  Warning: <b>user</b> privileges are unusual. Have you read
	  the <a href="#" data-dismiss='modal' data-bs-dismiss='modal'
		 data-toggle='modal' data-bs-toggle='modal'
		 data-target='#privs-help-modal' data-bs-target='#privs-help-modal'>
	  description of privileges?</a>
	</div>
	<div>
	  <br>
	  <center>
            <button class='btn btn-primary btn-sm confirm-button'
		    data-dismiss='modal' data-bs-dismiss='modal'
		    id='confirm-user-privs'>Confirm</button>
            <button class='btn btn-default btn-sm cancel-button'
		    data-dismiss='modal' data-bs-dismiss='modal'
		    id='cancel-user-privs'>Cancel</button>
	  </center>
	</div>
      </div>
    </div>
  </div>
</div>
