<!-- This is the Oops modal -->
<div id='oops_modal' class='modal fade'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-header'>
        <button type='button' class="close btn-close"
                data-dismiss='modal' data-bs-dismiss='modal'
		aria-hidden='true'></button>
        <center><h3>Oops!</h3></center>
      </div>
      <div class='modal-body'>
        <div id='oops_text'></div>
      </div>
    </div>
  </div>
</div>

