<style>
  .output-dropdown {
    min-width: 280px;
    font-size: 12px;
    padding: 10px;
  }
  .output-dropdown h5 {
    text-align: right;
    margin-right: 4px;
  }
  div.output-download-popup {
    margin-bottom: 5px;
  }
</style>
<div class="dropdown-center">
   <!-- Split button -->
    <div class="btn-group">
      <button type="button" class="btn btn-default download">Download</button>
      <button type="button" class="btn btn-default dropdown-toggle"
	      data-bs-auto-close="false"
	      data-toggle="dropdown" data-bs-toggle="dropdown">
	<span class="glyphicon glyphicon-cog"
	      style="height: 20px;"></span>	
      </button>
      <ul class="dropdown-menu output-dropdown" role="menu">
        <li><h5><strong>Output options</strong></h5></li>
        <li>
          <label>Separator: <input class="output-separator-input" type="text" size="2" value=","></label>
          <button type="button" class="output-separator btn btn-default btn-xs active" title="comma">,</button>
          <button type="button" class="output-separator btn btn-default btn-xs" title="semi-colon">;</button>
          <button type="button" class="output-separator btn btn-default btn-xs" title="tab">	</button>
          <button type="button" class="output-separator btn btn-default btn-xs" title="space"> </button>
          <button type="button" class="output-separator btn btn-default btn-xs" title="output JSON">json</button>
          <button type="button" class="output-separator btn btn-default btn-xs" title="output Array (see note)">array</button>
        </li>
        <li>
          <div class="btn-group output-download-popup" data-toggle="buttons" title="Download file or open in Popup window">
            <label class="btn btn-default btn-sm">
              <input type="radio" name="delivery1" class="output-popup" checked=""> Popup
            </label>
            <label class="btn btn-default btn-sm">
              <input type="radio" name="delivery1" class="output-download"> Download
            </label>
          </div>
        </li>
        <li>
          <div class="btn-group output-filter-all" data-toggle="buttons" title="Output only filtered, visible or all rows">
            <label class="btn btn-default btn-sm">
              <input type="radio" name="getrows1" class="output-filter" checked="checked"> Filtered
            </label>
            <label class="btn btn-default btn-sm">
              <input type="radio" name="getrows1" class="output-visible"> Visible
            </label>
            <label class="btn btn-default btn-sm">
              <input type="radio" name="getrows1" class="output-all"> All
            </label>
          </div>
        </li>
        <li class="divider"></li>
        <li>
          <label>Replace quotes: <input class="output-replacequotes" type="text" size="2" value="'"></label>
          <button type="button" class="output-quotes btn btn-default btn-xs active" title="single quote">'</button>
          <button type="button" class="output-quotes btn btn-default btn-xs" title="left double quote">?</button>
          <button type="button" class="output-quotes btn btn-default btn-xs" title="escaped quote">\"</button>
        </li>
        <li><label title="Remove extra white space from each cell">Trim spaces: <input class="output-trim" type="checkbox" checked=""></label></li>
        <li><label title="Include HTML from cells in output">Include HTML: <input class="output-html" type="checkbox"></label></li>
        <li><label title="Wrap all values in quotes">Wrap in Quotes: <input class="output-wrap" type="checkbox"></label></li>
        <li><label title="Choose a download filename">Filename: <input class="output-filename" type="text" size="15" value="mytable.csv"></label></li>
      </ul>
    </div>
</div>
