<style type="text/css">
 .nowrap {  white-space: nowrap; }
</style>
<div>
  <table class='tablesorter' id='paramsets_table'>
    <thead>
      <tr>
	<th>Profile</th>
	<th>Set Name</th>
	<th>Public</th>
	<% if (isadmin) { %>
	  <th>Global</th>
	<% } %>
	<th>Created</th>
	<th class="sorter-false">Share</th>
	<th class="sorter-false">Description</th>
      </tr>
    </thead>
    <tbody>
      <% _.each(paramsets, function(info) { %>
	<tr data-profile="<%- info.profile_uuid %>"
	    data-uuid="<%- info.uuid %>"
	    data-name="<%- info.name %>">
	  <%
	  var profile_name = info.profile_name;
	  var profile_uuid = info.profile_uuid;
	  
	  if (info.version_uuid) {
	    if (info.repourl) {
	      profile_name += ":" + info.repohash.substr(0,8);
	    }
	    else {
	      profile_uuid = info.version_uuid;
	      profile_name += ":" + info.profile_version;
	    }
	  }
	  %>
	  <td><a href='show-profile.php?uuid=<%- profile_uuid %>'>
            <%- profile_name %></a></td>
	  <td><%= info.name %>
	    <a href='#' id="delete-paramset-button">
	      <span class='glyphicon glyphicon-remove pull-right'
		    style='color: red; margin-right: 4px;
			   margin-bottom: 4px;'
		    data-toggle='tooltip' data-bs-toggle='tooltip'
		    data-container="body" data-bs-container="body"
		    data-trigger="hover" data-bs-trigger="hover"
		    title='Delete this parameter set'></span>
	    </a>
	    <a href="<%- info.run_url %>" class="run-paramset-button">
	      <span class='glyphicon glyphicon-play-circle pull-right'
		    style='color: green; margin-right: 5px;
			   margin-bottom: 4px;'
		    data-toggle='tooltip' data-bs-toggle='tooltip'
		    data-container="body" data-bs-container="body"
		    data-trigger="hover" data-bs-trigger="hover"
		    title='Run this parameter set'></span>
	    </a>
	  </td>
	  <td><% if (info.public != 0) { %>Yes<% } else { %>No<% } %></td>
	  <% if (isadmin) { %>
	    <td><% if (info.global != 0) { %>Yes<% } else { %>No<% } %></td>
	  <% } %>
	  <td class="format-date nowrap">
	    <%- info.created %></td>
	  <td>
	    <% if (_.has(info, "share_url")) { %>
	      <span data-toggle='popover' data-bs-toggle='popover'
		    data-delay='{"show":250}' data-bs-delay='{"show":250}'
		    data-html='false' data-bs-html='false'
		    data-trigger="hover" data-bs-trigger="hover"
		    id="<%- info.uuid %>"
		    
		    data-content="Share this parameter set with other users by
				  sending them a link to instantiate it.">
		<a class="btn btn-primary btn-xs paramset-share-button"
		   href="<%- info.share_url %>" type=button>Share</a>
	      </span>
	    <% } %>
	  </td>
	  <td><%- info.description %></td>
	</tr>
      <% }); %>
    </tbody>
  </table>
</div>
