<div class="table-responsive">
  <input class='form-control search profile-search'
	 type='search' data-column='all'
         id='<%- tablename %>-search' placeholder='Search'>
  <table class='tablesorter' id='<%- tablename %>-table'>
    <thead>
      <tr>
	<th>Name</th>
	<th class="sorter-false" style="white-space: nowrap;">
	  <% if (bulkdelete) { %>
	    <a href="#" class='delete-selected-profiles'
	       style="color: red;">
	      <span class='glyphicon glyphicon-remove pull-right'
		    style='margin-right: 0px;'
		    data-toggle='tooltip' data-bs-toggle='tooltip'
		    data-container="body" data-bs-container="body"
		    data-trigger="hover" data-bs-trigger="hover"
		    title='Delete Selected Profiles'></span>
	    </a>
	  <% } %>
	</th>
	<% if (showCreator) { %>
	  <th>Creator</th>
	<% } %>
	<% if (showProject) { %>
	  <th>Project</th>
	<% } %>
	<th>Description</th>
	<th>Created</th>
	<th>Last&nbsp;Use</th>
	<% if (showPrivacy) { %>
	  <th>Privacy</th>
	<% } %>
      </tr>
    </thead>
    <tbody>
      <% _.each(profiles, function(value, name) { %>
	<tr data-uuid="<%= value.profile_uuid %>"
	    data-pid=<%= value.project %>
	    data-name=<%= value.profile_name %>	>	    
	  <td style='white-space: nowrap;'>
	    <a href="show-profile.php?uuid=<%- value.profile_uuid %>">
	      <%- value.profile_name %></a>
	  </td>
	  <td style="white-space: nowrap;">
	    <div class="pull-right">
            <a href="instantiate.php?profile=<%- value.profile_uuid %>"
	       style="margin-left: 0px;">
	      <span class='glyphicon glyphicon-play-circle'
		    data-toggle='tooltip' data-bs-toggle='tooltip'
		    data-container="body" data-bs-container="body"
		    data-trigger="hover" data-bs-trigger="hover"
		    title='Instantiate this profile'></span>
	    </a>
	    <a href="#" class='showtopo_modal_button'
	       style="margin-left: 0px;"
               data-profile=<%= value.profile_uuid %>>	    
	      <span class='glyphicon glyphicon-modal-window'
		    data-toggle='tooltip' data-bs-toggle='tooltip'
		    data-container="body" data-bs-container="body"
		    data-trigger="hover" data-bs-trigger="hover"
		    title='Show topology'></span>
	    </a>
            <a href="manage_profile.php?action=edit&uuid=<%- value.profile_uuid %>"
	       <% if (!value.canedit) { %>class="invisible"<% } %> >
	      <span class='glyphicon glyphicon-edit'
		    data-toggle='tooltip' data-bs-toggle='tooltip'
		    data-container="body" data-bs-container="body"
		    data-trigger="hover" data-bs-trigger="hover"
		    title='Edit this profile'></span>
	    </a>
	    <a href="#"
	       class="delete-profile-button
		      <% if (!value.candelete) { %>invisible<% } %> "
	       style="margin-left: 0px; color: red;">
	      <span class='glyphicon glyphicon-remove'
		    data-toggle='tooltip' data-bs-toggle='tooltip'
		    data-container="body" data-bs-container="body"
		    data-trigger="hover" data-bs-trigger="hover"
		    title='Delete Profile'></span>
	    </a>
	    <% if (bulkdelete) { %>
	      <input type="checkbox"
		     class="delete-profile-checkbox
			    <% if (!value.candelete) { %>invisible<% } %> "
		     style="margin: 0px; width: 12px; height: 12px;">
	    <% } %>
	    </div>
	  </td>	    
	  <% if (showCreator) { %>
	    <td style='white-space: nowrap;'><%= value.creator %></td>
	  <% } %>
	  <% if (showProject) { %>
	    <td style='white-space: nowrap;'>
	      <a href='show-project.php?project=<%- value.project %>'
		   target=_blank><%- value.project %></a></td>
	  <% } %>
	  <td><%- value.description %></td>
	  <td class="format-date" style='white-space: nowrap;'>
	    <%- value.created %></td>
	  <td class="format-date" style='white-space: nowrap;'>
	    <%- value.last_use %></td>
	  <% if (showPrivacy) { %>
	    <td><%- value.privacy %></td>
	  <% } %>
	</tr>
      <% }); %>
    </tbody>
  </table>
</div>
