<div>
  <table class='tablesorter' id='projects-table'>
    <thead>
      <tr>
	<th>Name</th>
	<th>PI</th>
	<th class="sortInitialOrder-desc">Created</th>
	<th>Portal</th>
	<th>Affiliation</th>
	<th>EMail</th>
      </tr>
    </thead>
    <tbody>
      <% _.each(projects, function(value, name) { %>
	<tr data-pid="<%- value.pid %>">
	  <td rowspan="2" style='white-space: nowrap;'>
	    <a href='show-project.php?project=<%- value.pid %>#project'
	       target="_blank">
	      <%- value.pid %></a>
	    <br>
	    <a href="#" class="approve-button">
	      <span class="glyphicon
			   glyphicon-thumbs-up"
		    style='color: green; margin-left: 3px;
			   margin-bottom: 4px;'></span></a>
	    <a href="#" class="deny-button">
	      <span class="glyphicon
			   glyphicon-thumbs-down"
		    style='color: red; margin-left: 3px;
			   margin-bottom: 4px;'></span></a>
	    <a href="#" class="request-info-button">
	      <span class="glyphicon
			   glyphicon-info-sign text-info"
		    style='margin-left: 3px;
			   margin-bottom: 4px;'></span></a>
	    <% if (value.forClass) { %>
	      <span class="glyphicon
			   glyphicon-blackboard text-info"
		    style='color: purple; margin-left: 3px;
			   margin-bottom: 4px;'></span>
	    <% } %>
	    <% if (value.correspondence.length) { %>
	      <a href="#" class="correspondence-button">
		<span class="glyphicon
			     glyphicon-envelope text-info"
		      style='margin-left: 3px;
			     margin-bottom: 4px;'></span></a>
	    <% } %>
	    <div class="clearfix"></div>
	    <a class='btn btn-danger btn-xs pull-right why-save-button hidden' 
	       style="margin-right: 10px;"
	       id="why-save-button-<%- value.pid %>"
	       type='button'>Save</a>
	  </td>
	  <td style='white-space: nowrap;'>
	    <a href='user-dashboard.php?user=<%- value.leader_idx %>#admin'
	       target="_blank">
	      <%- value.leader_name %></a>
	    <% if (!value.leader_newuser) { %>
	      <span>(returning user)</span>
	    <% } %>
	  </td>
	  <td class="format-date" style='white-space: nowrap;'>
	    <%- value.created %></td>
	  <td><%- value.portal %></td>
	  <td><%= value.leader_affil %>
	    <% if (_.has(value, "url")) { %>
	      (<a href='<%- value.url %>'
		  target="_blank"><span class="glyphicon
					       glyphicon-link"></span></a>)
	    <% } %>
	  </td>
	  <td><%- value.leader_email %></td>
	</tr>
	<tr class="tablesorter-childRow" data-pid="<%- value.pid %>">
	  <td colspan="5">
	    <a href="#collapse-<%- value.pid %>"
	       data-toggle="collapse">
	      <span id="chevron-<%- value.pid %>"
		    class="glyphicon
			   glyphicon-chevron-right"></span></a>
	    <%= value.description %>
	      <div class="collapse" id="collapse-<%- value.pid %>">
		<textarea class="project-why" id="textarea-<%- value.pid %>"
			  style="width: 100%;"
			  rows="5"><%- value.why %></textarea>
	      </div>
	  </td>
	</tr>
      <% }); %>
    </tbody>
  </table>
</div>
<div id='request-info-modal' class='modal fade'
     data-keyboard='false' data-backdrop='static'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-header'>
        <button type='button' class='close' data-dismiss='modal'
                aria-hidden='true'>&times;</button>
	<center><h5>Request for more info</h5></center>
      </div>
      <div class='modal-body'>
	<div class="form-group">
	  <textarea id="info-body" name="info-body"
		    class="form-control"
		    rows="15"
		    placeholder="Please enter a message" type="text"></textarea>
	</div>
	<br>
	<center>
          <button class='btn btn-primary btn-sm' type='button'
		  id='request-info-confirm'>
	    Send</button>
	</center>
      </div>
    </div>
  </div>
</div>
<div id='deny-modal' class='modal fade'
     data-keyboard='false' data-backdrop='static'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-header'>
        <button type='button' class='close' data-dismiss='modal'
                aria-hidden='true'>&times;</button>
	<center><h5>Deny Project Application</h5></center>
      </div>
      <div class='modal-body'>
	<div class="form-group">
	  <textarea id="deny-body" name="deny-body"
		    class="form-control"
		    rows="15"
		    placeholder="Please enter a message" type="text"></textarea>
	</div>
	<center>
	  <input type=checkbox id=deny-delete-user value=yes checked>
	  Delete user account?<br>
	  <input type=checkbox id=deny-silent value=yes>
	  Silent (no email)?<br>
	</center>
	<br>
	<center>
          <button class='btn btn-primary btn-sm' type='button'
		  id='deny-confirm'>
	    Confirm</button>
	</center>
      </div>
    </div>
  </div>
</div>
<div id='approve-modal' class='modal fade'
     data-keyboard='false' data-backdrop='static'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-header'>
        <button type='button' class='close' data-dismiss='modal'
                aria-hidden='true'>&times;</button>
	<center><h5>Approve Project Application</h5></center>
      </div>
      <div class='modal-body'>
	<div class="form-group">
	  <textarea id="approve-body" name="approve-body"
		    class="form-control"
		    rows="15"
		    placeholder="Please enter a message" type="text"></textarea>
	</div>
	<br>
	<center>
          <button class='btn btn-primary btn-sm' type='button'
		  id='approve-confirm'>
	    Confirm</button>
	</center>
      </div>
    </div>
  </div>
</div>
<div id='first-project-modal' class='modal fade'
     data-keyboard='false' data-backdrop='static'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-header'>
	<button type='button' class='close' data-dismiss='modal'
		aria-hidden='true'>&times;</button>
	<center><h4>First Project Created!</h4></center>
      </div>
      <div class='modal-body'>
	Congratulations! You have successfully setup your initial Emulab
        Project. You should now <a href=login.php>login</a>
        using the account you just
        created so that you can continue setting up your new Emulab!
      </div>
    </div>
  </div>
</div>
<div id='correspondence-modal' class='modal fade'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-header'>
	<button type='button' class='close' data-dismiss='modal'
		aria-hidden='true'>&times;</button>
	<center><h4>Project Correspondence</h4></center>
      </div>
      <div class='modal-body'>
      </div>
    </div>
  </div>
</div>
