<style>
.form-control-fake {
  display: block;
  width: 100%;
  height: 34px;
  padding: 7px 0px;
  font-size: 14px;
  line-height: 1.42857143;
 }
 .panel-heading-list {
     padding: 2px;
 }
 .panel-body-dashboard {
     padding: 2px;
 }
 .resgraph-size {
     max-height:350px;
     height:350px;
 }
 .resgraph-modal-size {
     max-height:600px;
     height:600px;
 }
 svg {
     display: block;
 } 
</style>  
<div class='row'>
  <div class='col-lg-7
              col-md-7'>
    <div class='panel panel-default'>
      <div class='panel-heading'>
        <h3 class='panel-title'>
	  <% if (editing) { %>Modify <% } %>Reservation Request
	  <a href='#' class='btn btn-xs' id="reservation-help-button"
	     data-toggle='tooltip'
	     data-container="body"
	     data-trigger="hover"
	     title='Click for more info'>
	    <span style='margin-bottom: 4px; margin-left: 0px;'
		  class='glyphicon glyphicon-question-sign'></span></a>
	</h3>
      </div>
      <div class='panel-body' style="padding-ttop: 0px;">
	<center id="unapproved-warning" class="hidden">
	  <span class="text-danger">
	    This reservation has been submitted but is unapproved!
	    <a href='#' class='btn btn-xs'
	       style="padding-left: 0px; margin-top: -3px; border-top: 0px;"
	       data-toggle='popover'
	       data-html='true'
	       data-content='This reservation needs to be approved
			     by an administrator.'>
	      <span class='glyphicon glyphicon-question-sign'></span>
	    </a>
	  </span>
	</center>
	<div style="margin-bottom: 10px;">
	  <center><span id="general_error" style="color:red;"></span></center>
	</div>
	<form id='reserve-request-form'
              class='form-horizontal' role='form'>
	  <% var d = new Date(); var offset = d.getTimezoneOffset(); %>
	  <input id="timezone" name="timezone" type="hidden"
		 value=<%- offset %>>
	  <input id="start" name="start" type="hidden">
	  <input id="end" name="end" type="hidden">
	  <% if (editing) { %>
	    <input id="uuid" name="uuid" type="hidden">
	    <!-- This is a URN -->
	    <input id="cluster" name="cluster" type="hidden">
	  <% } %>
	  <div class='row'>
	    <div class='col-sm-12'>
	      <% if (editing) { %>
		<div class="form-group">
		  <div class="form-control-fake format-me"
		       data-label="User"
		       id="reserve-requestor"
		       data-key="uid">
		  </div>
		</div>
	      <% } %>
	      <% if (1 || projects) { %>
	        <% if (projects.length == 1 || editing) { %>
		  <div class="form-group">
		    <input name="pid" readonly
			 id="pid"
			 value="<%- formfields.pid %>"
			 class="form-control format-me"
			 data-label="Project"
			 data-key="pid">
		  </div>
		<% } else { %>
		  <div class="form-group">
		    <select name="pid"
			    id="pid"
			    class='form-control format-me'
			    data-colsize="4"
			    data-key="pid"
			    data-label="Project"
			    placeholder='Please Select'>
		      <% _.each(projects, function(name) { %>
			<option 
			    <% if (_.has(formfields, 'pid') &&
			      formfields.pid == name) { %>
			    selected
			    <% } %>
			    value='<%= name %>'><%= name %>
			</option>
		      <% }); %>
		    </select>
		  </div>
	        <% } %>
	      <% } %>
	      <div class="form-group">
		<% if (editing) { %>
		  <!-- This is a Nickname -->
		  <input name="cluster_id" readonly
			 id="cluster_id"
			 value="<%- formfields.cluster_id %>"
			 class="form-control format-me"
			 data-label="Cluster"
			 data-key="cluster_id">
		<% } else { %>
		  <select name="cluster"
			  id="cluster"
			  class='form-control format-me'
			  data-colsize="4"
			  data-key="cluster"
			  data-label="Cluster"
			  placeholder='Please Select'>
		    <option value=''>Please Select</option>
		    <% _.each(amlist, function(details, urn) { %>
		      <option
			  <% if (urn == formfields.cluster) { %>
			  selected
			  <% } %>
			  value='<%= urn %>'><%= details.name %>
		      </option>
		    <% }); %>
		  </select>
		<% } %>
	      </div>
	      <div class="form-group">
		<% if (editing) { %>
		  <input name="type" readonly
			 value="<%- formfields.type %>"
			 id="type"
			 class='form-control format-me'
			 data-key="type"
			 data-label="Hardware"
			 data-colsize="4">
		<% } else { %>
		  <select name="type"
			  id="type"
			  class='form-control format-me'
			  data-key="type"
			  data-label="Hardware"
			  placeholder='Please Select'
			  data-colsize="4">
		    <option value=''>Please Select</option>
		  </select>
		<% } %>
	      </div>
	      <div class="form-group">
		<input name="count"
		       id="count"
		       value="<%- formfields.count %>"
		       class="form-control format-me"
		       data-key="count"
		       data-label="Number of Nodes"
		       data-colsize="2"
		       type="text">
	      </div>
	      <% if (1) { %>
		<div class="form-group">
		  <input name="days"
			 id="days"
			 class="form-control format-me"
			 data-key="days"
			 data-label="Number of Days"
			 data-optional="yep"
			 data-compact="yep"
			 data-colsize="2"
			 type="text">
		  <button class='btn btn-primary btn-xs findfit-button'
			  style="display: inline-block; margin-top: -22px;"
			  name='days-findfit'>Search</button>
		  <span style="display: inline-block; margin-left: 10px">
		    <small>If you tell us how many days, we will find<br>
		           a slot and set the Start/End for you.
		    </small></span>
		</div>
	      <% } %>
	      <div class="form-group">
		<div class="format-me"
		     data-label="Reservation Start"
		     data-optional="yep"
		     data-colsize="9"
		     data-key="start">
		  <div class="row">
		    <div class="col-xs-4">
		      <input name="start_day"
			     style='position: relative;'
			     id='start_day'
			     value="<%- formfields.start %>"
			     class="form-control"
			     placeholder="MM/DD/YYYY"
			     type="text">
		    </div>
		    <div class="col-xs-4">
		      <select name="start_hour"
			      id='start_hour'
 			      value=""
			      class="form-control"
 			      type="text">
			<option value="">Start Time</option>
			<option value="0">12:00 AM</option>
			<option value="1">1:00 AM</option>
			<option value="2">2:00 AM</option>
			<option value="3">3:00 AM</option>
			<option value="4">4:00 AM</option>
			<option value="5">5:00 AM</option>
			<option value="6">6:00 AM</option>
			<option value="7">7:00 AM</option>
			<option value="8">8:00 AM</option>
			<option value="9">9:00 AM</option>
			<option value="10">10:00 AM</option>
			<option value="11">11:00 AM</option>
			<option value="12">12:00 PM</option>
			<option value="13">1:00 PM</option>
			<option value="14">2:00 PM</option>
			<option value="15">3:00 PM</option>
			<option value="16">4:00 PM</option>
			<option value="17">5:00 PM</option>
			<option value="18">6:00 PM</option>
			<option value="19">7:00 PM</option>
			<option value="20">8:00 PM</option>
			<option value="21">9:00 PM</option>
			<option value="22">10:00 PM</option>
			<option value="23">11:00 PM</option>
		      </select>
		    </div>
		    <div class="col-xs-1" style="padding:0px;">
		      <a href='#' class='btn btn-xs'
			 data-toggle='popover'
			 data-html='true'
			 data-delay='{"hide":1000}'
			 data-content='Times are in your local timezone.
				       Start day/time is optional, defaults
				       to the current day/time.'>
			<span class='glyphicon glyphicon-question-sign'></span>
		      </a>
		    </div>
		  </div>
		</div>
	      </div>
	      <div class="form-group">
		<div class="format-me"
		     data-label="Reservation End"
		     data-key="end">
		  <div class="row">
		    <div class="col-xs-6">
		      <input name="end_day"
			     style='position: relative;'
			     id='end_day'
			     value="<%- formfields.end %>"
			     class="form-control"
			     placeholder="MM/DD/YYYY"
			     type="text">
		    </div>
		    <div class="col-xs-6">
		      <select name="end_hour"
			      id='end_hour'
 			      value=""
			      class="form-control"
 			      type="text">
			<option value="">End Time</option>
			<option value="0">12:00 AM</option>
			<option value="1">1:00 AM</option>
			<option value="2">2:00 AM</option>
			<option value="3">3:00 AM</option>
			<option value="4">4:00 AM</option>
			<option value="5">5:00 AM</option>
			<option value="6">6:00 AM</option>
			<option value="7">7:00 AM</option>
			<option value="8">8:00 AM</option>
			<option value="9">9:00 AM</option>
			<option value="10">10:00 AM</option>
			<option value="11">11:00 AM</option>
			<option value="12">12:00 PM</option>
			<option value="13">1:00 PM</option>
			<option value="14">2:00 PM</option>
			<option value="15">3:00 PM</option>
			<option value="16">4:00 PM</option>
			<option value="17">5:00 PM</option>
			<option value="18">6:00 PM</option>
			<option value="19">7:00 PM</option>
			<option value="20">8:00 PM</option>
			<option value="21">9:00 PM</option>
			<option value="22">10:00 PM</option>
			<option value="23">11:00 PM</option>
		      </select>
		    </div>
		  </div>
		</div>
	      </div>
	      <div class="form-group">
		<textarea name="reason"
			  id="reason"
			  class='form-control format-me'
			  data-key="reason"
			  data-label="Reason"
			  rows="5"
			  data-colsize="9"
			  placeholder='Please provide a description of why you would like to reserve these resources. The better the description the more likely the reservation will be approved.'><%- formfields.reason %></textarea>
	      </div>
              <button class='btn btn-primary btn-sm pull-right' disabled
                      id='reserve-submit-button'
                      type='submit' name='submit'>Check</button>
	      <% if (editing) { %>
		<button class='btn btn-danger btn-sm pull-left' disabled
			style="margin-right: 10px"
			id='reserve-delete-button'
			type='submit' name='delete'>Delete</button>
		<button class='hidden btn btn-primary btn-sm pull-right'
			style="margin-right: 10px"
			id='reserve-approve-button'
			type='submit' name='submit'>Approve</button>
	      <% } %>
	      <div class="hidden checkbox pull-left"
		   id="idle-detection-checkbox-div"
		   style="margin-left: 5px; margin-top: 5px;">
		<label data-toggle='popover'
		       data-html='true'
		       data-delay='{"hide":200}'
		       data-content='When
				     set, reservations will be
				     automatically canceled if they are not
				     used.'>
		  <input type="checkbox" disabled
			 id="idle-detection-checkbox"
			 value="">Idle Detection</label>
	      </div>
	    </div>
	  </div>
	</form>
      </div>
    </div>
  </div>
  <div class='col-lg-5
              col-md-5' id="reservation-lists">
  </div>
</div>
<!-- Confirm reservation -->
<div id='confirm-reservation' class='modal fade'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-body'>
        <button type='button' class='close' data-dismiss='modal'
                aria-hidden='true'>&times;</button>
        <center>
	  <h4>Would you like to submit this reservation request?</h4>
          <button style='margin-right: 20px;'
                  class='btn btn-primary btn-sm'
                  data-dismiss='modal' aria-hidden='true'>Cancel</button>
          <button class='btn btn-success btn-sm'
		  id='commit-reservation'
		  data-dismiss='modal' aria-hidden='true'>Submit</button>
	</center>
	<div style="margin-top: 5px;" class="needs-approval hidden">
	  NOTE: This reservation request can be accomodated, but the
	  size and/or duration means that the reservation needs to
	  be approved by an administrator before it is fully active.
	  The administrator will be notified when you submit this
	  request, and will act on this request as soon as possible.</div>
      </div>
    </div>
  </div>
</div>
<!-- Help -->
<div id='reservation-help-modal' class='modal fade'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-body'>
        <button type='button' class='close' data-dismiss='modal'
                aria-hidden='true'>&times;</button>
	<br>
	<p>
	  Use this form to request that resources be set aside for
	  your experiments at a future time. A reservation request
	  consists of these specific elements:
	  <ul>
	    <li> Project; what project your experiment is going to be
	    run in. If you are member of only one project, then do
	      not worry about this.</li>
	    <li> Count; How many nodes you need for your experiment. </li>
	    <li> Start date/time; when you would like the resources to
  	      be available for you to use.</li>
	    <li> End date/time; when you expect to be finished. This is
	      a <em>hard</em> deadline; if the resources have been
	      promised to another user you will not be allowed to keep
	      them past the end of the reservation (requests to extend
	      your experiment will be denied).</li>
	    <li> Cluster; at what cluster you want resources.</li>
	    <li> Node type; reservations are for specific node types. You
	      might not care what node type you get, but the reservation
	      system requires it.</li>
	    <li> Description; a reasonable explanation of why you need
	      these resources. Most reservations need administrator
	      approval, so the more details you provide, the better
	      the chances your request will be approved.
	    </li>
	  </ul>
	</p>
	  <p>
	    When you click on <b>Check</b> a preliminary query is made
	    to see if the request is <em>feasible</em> given the
	    current set of reservations at the cluster. If not, you can
	    modify your request and check again. Once you get to a
	    feasible reservation request, you will then want to <b>Submit</b>
	    it. The request might still fail, say if someone else got
	    in and captured those resources before you, but we expect
	    that to be very rare.
	  </p>
	  <p>
	    If your request is unusually large or long in duration, it
	    is possible that the reservation will be recorded in a
	    <em>pending</em> state; an administrator will need to
	    review the request and approve it. Your list of
	    reservations will indicate which requests are pending
	    approval. 
	  </p>
	  <p>
	    More info can be found in the
	    <a id="reservation-faq-button" href="#">reservation FAQ.</a>
	  </p>
      </div>
    </div>
  </div>
</div>
<!-- FAQ -->
<div id='reservation-faq-modal' class='modal fade'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-body'>
        <button type='button' class='close' data-dismiss='modal'
                aria-hidden='true'>&times;</button>
	<div class="clearfix"></div>
	<center><h4>Reservation FAQ</h4></center>
	<div class="faq-contents"></div>
      </div>
    </div>
  </div>
</div>
<!-- Graph Help -->
<div id='resgraph-help-modal' class='modal fade'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-body'>
        <button type='button' class='close' data-dismiss='modal'
                aria-hidden='true'>&times;</button>
	<br>
	<p>
	  The reservation graphs tell you how many of each node type
	  are available to reserve at a specific time. Use the graphs to
	  guide your requests to ensure you are asking for a reservation
	  that is possible to accommodate. Here are some helpful
	  features of the graphs:
	  <ul>
	    <li> Click on a node type label to turn off that type's
	      line. This will rescale the other lines, sometimes
	      making it easier to see those other lines.</li>
	    <li> Hover over and move around the graph to show a
	      tooltip that will provide the date and time, and the free
	      count for all of the node types at the time stamp you are
	      hovering over.</li>
	    <li> Use the <em>focus</em> bar under the graph to expand,
	      contract, and move the window. This will make it easier
	      to see ranges that have a lot of activity (such as the
	      first week).</li>
	    <li> Clicking on a graph at a specific date and time while
	      hovering, will copy the date and time to the form. The
	      cluster will also be selected in the form.</li>
	    <li> Beyond the right side of the X-axis there are no
	      longer any changes in the number of nodes, so you can
	      request nodes further out in time (no guarantees that
	      your request will be approved).</li>
	    <li> Click on the full screen
	      (<span class='glyphicon glyphicon-fullscreen'></span>)
	      icon to pop up a larger version of the graph.</li>
	    <li> Questions or suggestions, please let us know!</li>
	  </ul>
	</p>
      </div>
    </div>
  </div>
</div>
<div class='modal fade' id="resgraph-modal">
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-body'>
	<div class='panel panel-default'>
	  <div class="panel-heading">
            <button type='button' class='close' data-dismiss='modal'
                    aria-hidden='true'>&times;</button>
	    <center>
	      <h5>
		<span class="cluster-name"></span> Availability
	      </h5>
	    </center>
	  </div>
	  <div class='panel-body'>
	    <svg style="height: 80%; padding: 0px;"></svg>
	  </div>
	</div>
      </div>
    </div>
  </div>
</div>
<div id='delete-reservation-modal' class='modal fade'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-body'>
        <button type='button' class='close' data-dismiss='modal'
                aria-hidden='true'>&times;</button>
        <center><h4>Confirm to Delete Reservation</h4>
	  <% if (window.ISADMIN) { %>
	    Message to send to user
	    <div>
	      <textarea id='delete-reason'
			class='form-control'
			rows=5></textarea>
	    </div>
	  <% } %>
	  <br>
          <button class='btn btn-danger btn-sm'
		  id='confirm-delete'>Confirm</a></button>
	</center>
      </div>
    </div>
  </div>
</div>
<div id='approve-modal' class='modal fade'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-body'>
        <button type='button' class='close' data-dismiss='modal'
                aria-hidden='true'>&times;</button>
        <center><h4>Confirm to Approve Reservation</h4>
	  Additional text to send with approval (no text is okay):
	  <div>
	    <textarea class='form-control user-message'
		      rows=5></textarea>
	  </div>
	  <br>
          <button class='btn btn-danger btn-sm'
		  id='confirm-approve'>Confirm</a>
	</center>
      </div>
    </div>
  </div>
</div>
