<style>
 .popover{
     max-width: 800px;
 }
 .tablesorter-green .tablesorter-header-inner {
     padding-left: 17px !important;
 }
 .tablesorter-green th.sorter-false .tablesorter-header-inner {
     padding-left: 4px !important;
 }
</style>
<div>
  <table class='tablesorter resgroup-list-bytype'>
    <thead>
      <tr>
	<th class="sorter-false">&nbsp</th>
	<% if (showuser) { %><th>Creator</th><% } %>
	<% if (showproject) { %><th>Project</th><% } %>
	<th>Low Freq</th>
	<th>High Freq</th>
	<th>Created</th>
	<th>Starts</th>
	<th>Ends</th>
	<% if (showstatus) { %><th>Status</th><% } %>
	<th class="sorter-false">Notes</th>
      </tr>
    </thead>
    <tbody>
      <% _.each(groups, function(group, uuid) { %>
	<% _.each(group.ranges, function(res) { %>
	  <tr data-uuid="<%- res.freq__uuid %>">
	    <td>
	      <a href="resgroup.php?edit=1&uuid=<%- group.uuid %>"
		 target="_blank" 
		 class="edit-button">
		<span class='glyphicon glyphicon-eye-open text-primary'
		      style='margin-bottom: 4px; margin-left: 10px;'
		      data-toggle='tooltip'
		      data-container="body"
		      data-trigger="hover"
		      title='View/Edit reservation details'></span>
	      </a>
	    </td>
	    <% if (showuser) { %>
	      <td style='white-space: nowrap;'>
		<% if (group.uid_idx) { %>
		  <a href='user-dashboard.php?user=<%- group.uid %>'>
		    <%- group.uid %></a>
		<% } else { %>
		  <%- group.remote_uid %>
		<% } %>
	      </td>
	    <% } %>	    
	    <% if (showproject) { %>	  
	      <td style='white-space: nowrap;'>
		<% if (group.pid_idx) { %>
		  <a href='show-project.php?project=<%- group.pid %>'>
		    <%- group.pid %></a>
		<% } else { %>
		  <%- group.remote_pid %>
		<% } %>
	      </td>
	    <% } %>
	    <td><%- res.freq_low %></td>
	    <td><%- res.freq_high %></td>
	    <td class="format-date"><%- group.created %></td>
	    <td>
	      <% if (!group.start) { %>
		&nbsp
	      <% } else if (new Date().getTime() >
	        new Date(group.start).getTime()) { %>
		<span class="format-date"
		      style="color: green;"><%- group.start %></span>
	      <% } else { %>
		<span class="format-date"><%- group.start %></span>
	      <% } %>
	    </td>
	    <td>
	      <% if (!group.end) { %>
		&nbsp
	      <% } else { %>
		<% if (!group.idledetection) { %>
		  <span class="text-warning">
		<% } %>
		<span class="format-date"><%- group.end %></span>
		<% if (!group.idledetection) { %>
		  </span>
		<% } %>
	      <% } %>
	    </td>
	    <% if (showstatus) { %>
	      <td class="reservation-status-column">
		<span class="status-approved hidden">
		  <span class="status-value">Approved</span>
		</span>
		<span class="status-pending hidden text-danger">
		  <span class="status-value">Pending</span>
		</span>
		<span class="status-canceled hidden">
		  <span class="status-value text-danger">Canceled</span>
		  <% if (isadmin && showcontrols) { %>
		    <a href="#" class="cancel-cancel-button">
		      <span class='glyphicon glyphicon-thumbs-up'
			    style='color: green; margin-left: 5px;
				   margin-bottom: 4px;'
			    data-toggle='tooltip'
			    data-container="body"
			    data-trigger="hover"
			    title='Cancel Cancellation'></span>
		    </a>
		  <% } %>
		</span>
	      </td>
	    <% } %>
	    <td align="center">
	      <a href="#" 
		 data-toggle='popover'
		 data-html='true'
		 data-trigger='hover'
		 data-title="Reservation Notes"
		 data-content="<div class='form-control'
			       style='height: auto;'><%- group.notes %></div>">
		<span>&#8230;</span>
	      </a>
	    </td>
	  </tr>
	<% }); %>
      <% }); %>
    </tbody>
  </table>
</div>
