<style>
.form-control-fake {
  display: block;
  width: 100%;
  height: 34px;
  padding: 7px 0px;
  font-size: 14px;
  line-height: 1.42857143;
 }
 .panel-heading-listXX {
     padding: 2px;
 }
 .panel-body-dashboardXX {
     padding: 2px;
 }
 .resgraph-size {
     max-height:350px;
     height:350px;
 }
 .resgraph-modal-size {
     max-height:600px;
     height:600px;
 }
 .resgraph-combined-size {
     max-height:500px;
     height:500px;
 }
 svg {
     display: block;
 }
 .table {
     margin-bottom: 0px;
 }
 .table th, .table td { 
     border-top: none !important;
     border-left: none !important;
     padding-left: 2px !important;
 }
 .table > tbody + tbody {
     border-top: 0px;
 }
 .form-group-sm .control-label, .form-group-ota .control-label {
     padding-top: 0px !important;
 }
 .reservation-error, .underused-warning, .ota-message {
     padding-top: 0px !important;
     padding-bottom: 0px !important;
 }
 .ota-request-permission {
     color: #8a6d3b;
     text-decoration: underline;
 }
 .nvfoo {
     font-family: Arial, sans-serif;
     font-size: 16px;
     font-weight: bold;
 }
 
</style>  
<div class='row main-row'>
  <div class='col-lg-7
              col-md-7'>
    <div class='panel  card panel-default'>
      <div class='panel-heading card-header'>
        <h5 class='panel-title card-title'>
	  <% if (editing) { %>Modify <% } %>Reservation Request
	  <a href='#' class='btn btn-xs' id="reservation-help-button"
	     data-toggle='tooltip' data-bs-toggle='tooltip'
	     data-container="body" data-bs-container="body"
	     data-trigger="hover" data-bs-trigger="hover"
	     title='Click for more info'>
	    <span style='margin-bottom: 4px; margin-left: 0px;'
		  class='glyphicon glyphicon-question-sign'></span></a>
	</h5>
      </div>
      <div class='panel-body card-body' style="padding-ttop: 0px;">
	<center id="unapproved-warning" class="hidden">
	  <span class="text-danger">
	    This reservation has been submitted but is unapproved!
	    <a href='#' class='btn btn-xs'
	       style="padding-left: 0px; margin-top: -3px; border-top: 0px;"
	       data-toggle='popover' data-bs-toggle='popover'
	       data-html='true' data-bs-html='true'
	       data-content='This reservation needs to be approved
			     by an administrator.'>
	      <span class='glyphicon glyphicon-question-sign'></span>
	    </a>
	  </span>
	</center>
	<center id="canceled-warning" class="hidden">
	  <span class="text-danger">
	    This reservation has been scheduled for cancellation. 
	  </span>
	</center>
	<div style="margin-bottom: 10px;">
	  <center><span id="general_error" style="color:red;"></span></center>
	</div>
	<div class='row'>
	  <div class='col-sm-12'>
	    <form id='reserve-request-form'
		  class='form-horizontal' role='form'>
	      <% var d = new Date(); var offset = d.getTimezoneOffset(); %>
	      <input id="timezone" name="timezone" type="hidden"
		     value=<%- offset %>>
	      <input id="start" name="start" type="hidden">
	      <input id="end" name="end" type="hidden">
	      <% if (editing) { %>
		<input id="uuid" name="uuid" type="hidden">
	      <% } %>
	      <% if (editing) { %>
		<div class="form-group" style="margin-bottom: 0px;">
		  <div class="form-control-fake format-me"
		       data-label="User"
		       data-compact="true"
		       id="reserve-requestor"
		       data-key="uid">
		  </div>
		</div>
	      <% } %>
	      <% if (projects) { %>
	        <% if (editing) { %>
		  <div class="form-group" style="margin-bottom: 0px;">
		    <div id="pid"
			 class="form-control-fake format-me"
			 data-compact="true"
			 data-label="Project"
			 data-key="pid">
		    </div>
		  </div>
	        <% } else if (_.size(projects) == 1) { %>
		  <div class="form-group">
		    <input name="pid" readonly
			 id="pid"
			 value="<% print(_.first(_.keys(projects))) %>"
			 class="form-control format-me"
			 data-label="Project"
			 data-key="pid">
		  </div>
		<% } else { %>
		  <div class="form-group">
		    <select name="pid"
			    id="pid"
			    class='form-control format-me form-select'
			    data-colsize="4"
			    data-key="pid"
			    data-label="Project"
			    placeholder='Please Select'>
		      <% _.each(projects, function(details, name) { %>
			<option 
			    <% if (default_pid === name) { %>
			    selected
			    <% } %>
			    value='<%= name %>'><%= name %>
			</option>
		      <% }); %>
		    </select>
		  </div>
	        <% } %>
	      <% } %>
	      <% if (editing) { %>
		<div class="form-group" style="margin-bottom: 0px;">
		  <div class="form-control-fake format-me"
		       data-label="Created"
		       data-compact="true"
		       id="reserve-created"
		       data-key="created">
		  </div>
		</div>
		<div id="reserve-approved-div" class="hidden">
		  <div class="form-group" style="margin-bottom: 0px;">
		    <div class="form-control-fake format-me"
			 data-label="Approved"
			 data-compact="true"
			 id="reserve-approved"
			 data-key="approved">
		    </div>
		  </div>
		</div>
	      <% } %>
	      <div class="form-group">
		<div class="format-me"
		     data-label="Cluster(s)"
		     data-colsize="9">
		  <table class="table table-condensed table-borderless"
			 id="cluster-table">
		  </table>
		</div>
	      </div>
	      <div class="form-group hidden" id="range-table-div">
		<div class="format-me"
		     data-label="Frequency Range(s) (MHz)"
		     data-colsize="9">
		  <table class="table table-condensed table-borderless"
			 id="range-table">
		  </table>
		</div>
	      </div>
	      <div class="form-group hidden" id="route-table-div-foo">
		<div class="format-me"
		     data-label="Bus Routes"
		     data-colsize="9">
		  <table class="table table-condensed table-borderless"
			 id="route-table">
		  </table>
		</div>
	      </div>
	      <div class="form-group hidden" id="route-table-div">
		<div class="format-me"
		     data-label="Mobile Endpoints"
		     data-optional="yep"
		     data-key="allroutes">
		  <input name="allroutes-checkbox" style="margin-top: 12px;"
			 id="allroutes-checkbox"
			 type="checkbox">
		  <a href='#' class='btn btn-xs route-help'>
		    <span class='glyphicon glyphicon-question-sign'
		          style="margin-bottom: 6px;"></span>
		  </a>
		  <label id="allroutes-error"
			 class="hidden control-label"></label>
		  <span id="allroutes-ota-warning" class="has-warning hidden">
		    <label class="control-label">
		      Current project does not have OTA permission.
		      <a href='' class='ota-request-permission'>
			Request permission.</a>
		    </label>
		  </span>
		</div>
	      </div>
	      <% if (1) { %>
		<div class="form-group">
		  <div class="format-me"
		       data-label="Number of Days"
		       data-colsize="9"
		       data-optional="yep"
		       data-key="days">
		    <div class="row">
		      <div class="col-lg-3 col-sm-4">
			<div class="input-group input-group-md">
			  <input name="days"
				 id="days"
				 placeholder="#Days"
				 class="form-control"
				 type="text">
			  <button class="btn btn-outline-primary
					 findfit-button"
				  type="button">Search</button>
			</div>
		      </div>
		      <div class="col-auto">
			<small>If you tell us how many days, we will find<br>
		          a slot and set the Start/End for you.
			</small>
		      </div>
		    </div>
		  </div>
		</div>
	      <% } %>
	      <div class="form-group" style="">
		<div class="format-me"
		     data-label="Reservation Start"
		     data-optional="yep"
		     data-colsize="9"
		     data-margin="10"
		     data-key="start">
		  <div class="row">
		    <div class="col-sm-4">
		      <input name="start_day"
			     style='position: relative;'
			     id='start_day'
			     value=""
			     class="form-control"
			     placeholder="MM/DD/YYYY"
			     type="text">
		    </div>
		    <div class="col-sm-4">
		      <select name="start_hour"
			      id='start_hour'
 			      value=""
			      class="form-control form-select"
 			      type="text">
			<option value="">Start Time</option>
			<option value="0">12:00 AM</option>
			<option value="1">1:00 AM</option>
			<option value="2">2:00 AM</option>
			<option value="3">3:00 AM</option>
			<option value="4">4:00 AM</option>
			<option value="5">5:00 AM</option>
			<option value="6">6:00 AM</option>
			<option value="7">7:00 AM</option>
			<option value="8">8:00 AM</option>
			<option value="9">9:00 AM</option>
			<option value="10">10:00 AM</option>
			<option value="11">11:00 AM</option>
			<option value="12">12:00 PM</option>
			<option value="13">1:00 PM</option>
			<option value="14">2:00 PM</option>
			<option value="15">3:00 PM</option>
			<option value="16">4:00 PM</option>
			<option value="17">5:00 PM</option>
			<option value="18">6:00 PM</option>
			<option value="19">7:00 PM</option>
			<option value="20">8:00 PM</option>
			<option value="21">9:00 PM</option>
			<option value="22">10:00 PM</option>
			<option value="23">11:00 PM</option>
		      </select>
		    </div>
		    <div class="col-sm-1" style="padding:0px;">
		      <a href='#' class='btn btn-xs'
			 data-toggle='popover' data-bs-toggle='popover'
			 data-html='true' data-bs-html='true'
			 data-delay='{"hide":1000}' data-bs-delay='{"hide":1000}'
			 data-content='Times are in your local timezone.
				       Start day/time is optional, defaults
				       to the current day/time.'>
			<span class='glyphicon glyphicon-question-sign'></span>
		      </a>
		    </div>
		  </div>
		</div>
	      </div>
	      <div class="form-group">
		<div class="format-me"
		     data-label="Reservation End"
		     data-margin="20"
		     data-wide="1"
		     data-key="end">
		  <% if (window.ISCLOUD) { %>
		    <div class="row">		  
		      <div class="col-sm-12">
			<em>When CloudLab is busy, we give preference to
			  reservation requests that use few resources or are
			  short in duration.</em>
		      </div>
		    </div>
		  <% } %>
		  <div class="row">		  
		    <div class="col-sm-4">
		      <input name="end_day"
			     style='position: relative;'
			     id='end_day'
			     value=""
			     class="form-control"
			     placeholder="MM/DD/YYYY"
			     type="text">
		    </div>
		    <div class="col-sm-4">
		      <select name="end_hour"
			      id='end_hour'
 			      value=""
			      class="form-control form-select"
 			      type="text">
			<option value="">End Time</option>
			<option value="0">12:00 AM</option>
			<option valuae="1">1:00 AM</option>
			<option value="2">2:00 AM</option>
			<option value="3">3:00 AM</option>
			<option value="4">4:00 AM</option>
			<option value="5">5:00 AM</option>
			<option value="6">6:00 AM</option>
			<option value="7">7:00 AM</option>
			<option value="8">8:00 AM</option>
			<option value="9">9:00 AM</option>
			<option value="10">10:00 AM</option>
			<option value="11">11:00 AM</option>
			<option value="12">12:00 PM</option>
			<option value="13">1:00 PM</option>
			<option value="14">2:00 PM</option>
			<option value="15">3:00 PM</option>
			<option value="16">4:00 PM</option>
			<option value="17">5:00 PM</option>
			<option value="18">6:00 PM</option>
			<option value="19">7:00 PM</option>
			<option value="20">8:00 PM</option>
			<option value="21">9:00 PM</option>
			<option value="22">10:00 PM</option>
			<option value="23">11:00 PM</option>
		      </select>
		    </div>
		  </div>
		</div>
	      </div>
	      <div class="form-group">
		<textarea name="reason"
			  id="reason"
			  class='form-control format-me'
			  data-key="reason"
			  data-label="Reason"
			  rows="5"
			  data-colsize="9"
			  data-margin="20"
			  placeholder='Please provide a description of why you would like to reserve these resources. The better the description the more likely the reservation will be approved.'></textarea>
	      </div>
	      <div class='row hidden' id="for-class-checkbox">
		<div class='col-sm-9 col-sm-offset-3 offset-sm-3 offset-sm-3'
		     style="margin-top: -10px;">
		  <div class="form-check-inline">
		    Is this reservation for a class
		    (used by more then just yourself)?
		    <input class="form-check-input" type="checkbox"
			   name="for-class"
			   id="for-class"
			   value="yes">
		    <label class="form-check-label"><b>Yes</b></label>
		  </div>
		</div>
	      </div>
	    </form>
            <button class='btn btn-primary btn-sm pull-right' disabled
                    id='reserve-submit-button'
                    type='submit' name='submit'>Check</button>
	    <% if (editing) { %>
	      <button class='btn btn-danger btn-sm pull-left' disabled
		      style="margin-right: 10px"
		      id='reserve-delete-button'
		      type='submit' name='delete'>Delete</button>
	      <button class='btn btn-info btn-sm pull-left' disabled
		      style="margin-right: 10px"
		      id='reserve-refresh-button'
		      type='submit' name='refresh'>Refresh</button>
	      <button class='btn btn-info btn-sm pull-left hidden' 
		      style="margin-right: 10px"
		      id='reserve-info-button'
		      type='submit' name='info'>Info</button>
	      <button class='btn btn-info btn-sm pull-left hidden' 
		      style="margin-right: 10px"
		      id='reserve-warn-button'
		      type='submit' name='warn'>Warn</button>
	      <button class='btn btn-danger btn-sm pull-left hidden' 
		      style="margin-right: 10px"
		      id='reserve-uncancel-button'
		      type='submit' name='uncancel'>UnCancel</button>
	      <button class='hidden btn btn-primary btn-sm pull-right'
		      style="margin-right: 10px"
		      id='reserve-approve-button'
		      type='submit' name='submit'>Approve</button>
	    <% } %>
	    <div class="hidden checkbox form-check form-check-inline pull-left"
		 id="idle-detection-checkbox-div"
		 style="margin-left: 5px; margin-top: 5px;">
	      <input type="checkbox" class="form-check-input"
		     id="idle-detection-checkbox"
		     value="">
	      <label class="form-check-label"
		     data-toggle='popover' data-bs-toggle='popover'
		     data-html='true' data-bs-html='true'
		     data-delay='{"hide":200}' data-bs-delay='{"hide":200}'
		     data-content='Set/Clear reservation idle detection. When
				   set, unused reservations will be
				   automatically canceled if they are not
				   used.'>Idle Detection</label>
	    </div>
	    <div class="hidden checkbox form-check form-check-inline pull-right"
		 id="override-checkbox"
		 style="margin-right: 15px; margin-top: 5px;">
	      <input type="checkbox" class="form-check-input"
		     id="admin-override"
		     value="">
	      <label class="text-danger form-check-label"
		     data-toggle='popover' data-bs-toggle='popover'
		     data-html='true' data-bs-html='true'
		     data-delay='{"hide":200}' data-bs-delay='{"hide":200}'
		     data-content='Override frequency range conflicts when
				   clicking Check/Submit/Approve. This
				   will <b>not</b> override node shortages.
				   You do not want to use this unless
				   you really need to!'>Override</label>
	    </div>
	  </div>
	</div>
      </div>
    </div>
    <div class='panel  card panel-default hidden' id="combined-resgraph">
      <div class='panel-heading card-header'>
	<center>
          <h3 class='panel-title card-title'>Selected Types Availability</h3>
	  <div><span class=small style="color:blue;">
	    <a href="#" onclick="event.preventDefault();"
	       data-toggle='popover' data-bs-toggle='popover'
	       data-html='true' data-bs-html='true'
	       data-delay='{"hide":500}' data-bs-delay='{"hide":500}'
	       data-content='Reservations are approved in the order they are
			     submitted, so submitting
			     a request for a time that already has a pending
			     reservation will almost certainly
			     result in a request that will be denied later.
			     <div style="margin-top: 5px;">
			     The graph below shows the number of nodes 
			     available for each selected resource type, but 
			     if the tooltip says:
			     <center class=nvfoo>d820: 1 <font color=blue>(5)</font></center>
			     it means
			     five of the six free nodes have already been
			     requested but not yet approved.'>
	      More info about pending reservations
	    </a></span>
	  </div>
	</center>
      </div>
      <div class='panel-body card-body' style="padding: 2px;">
	<!-- The col setting gives us a "relative" position div -->
	<div class='col-xs-12 col-xs-offset-0'
	     style="padding:0px;">
	  <div class='resgraph-combined-size resgraph'>
	    <div class='resgraph-spinner hidden'>
	      <center>
		<img src='images/spinner.gif' /></center>
	    </div>
	    <svg class="resgraph"></svg>
	  </div>
	</div>
      </div>
    </div>
    <div style="padding-left: 15px; padding-right: 15px;">
      <div id="utilization-div"
	   style="padding: 0px;"
	   class='panel  card panel-default hidden col-xs-12 col-xs-offset-0'>
	<div class='panel-heading card-header'>
	  <center>
            <h3 class='panel-title card-title'>Utilization</h3>
	  </center>
	</div>
	<div class='panel-body card-body'>
	  <table class="table table-condensed" style="font-size: 16px;"
		 id="utilization-table">
	    <thead>
	      <th>Type</th>
	      <th>Cluster</th>
	      <th>Inuse</th>
	      <th>Utilization</th>
	    </thead>
	    <tbody>
	    </tbody>
	  </table>
	</div>
      </div>
    </div>
    <div id="history-graphs"></div>
  </div>
  <div class='col-lg-5 col-md-5'>
    <div id="range-info-div" class="hidden"
	 style="margin-bottom: 20px; position: relative;">
    </div>
    <div id="reservation-lists">
      <div id="powder-graph-div">
	<div id='powder-radios' class='hidden'>
	  <!-- Template goes here -->	    
	</div>
	<div id='powder-mmimo' class='hidden'>
	  <!-- Template goes here -->	    
	</div>
	<div id='powder-dense' class='hidden'>
	  <!-- Template goes here -->	    
	</div>
	<div id='powder-ota' class='hidden'>
	  <!-- Template goes here -->	    
	</div>
	<div id='powder-paired' class='hidden'>
	  <!-- Template goes here -->	    
	</div>
	<div id='powder-matrix' class='hidden'>
	  <!-- Template goes here -->	    
	</div>
      </div>
      <div id='FE-graph-div' class='hidden'>
	<!-- Template goes here -->	    
      </div>
      <div id='route-graph-div' class='hidden'>
	<!-- Template goes here -->	    
      </div>
    </div>
  </div>
</div>
<!-- Confirm reservation -->
<div id='confirm-reservation' class='modal fade'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-body'>
        <center>
	  <h4>Would you like to submit this reservation request?</h4>
	</center>
	<hr>
	<div style="margin-top: 5px;" class="needs-approval hidden">
	  <div class="needs-approval-noconflict hidden">
	    <b>
	      WARNING: This reservation request can be accomodated,
	      but the size and/or duration means that the reservation
	      needs to be approved by an administrator before it is
	      fully active.</b>
	  </div>
	  <div style="margin-top: 5px;"
	       class="needs-approval-conflict hidden">
	    <b>
	      WARNING: This reservation currently conflicts with
	      another unapproved reservation. It might still be
	      approved, but typically reservations are approved in the
	      order they are submitted, so it will probably be
	      denied. Please consider resubmitting for a time that
	      does not conflict with pending reservations.</b>
	  </div>
	  </b>
	  <div style="margin-top: 10px;">
	    <% if (window.MAINSITE) { %>
	      <em>Reservations that require administrative approval
		take time to review and are processed
		<% if (1) { %>
		  the <b>next business day</b>
		<% } else { %>
		  in <b>two business days</b>
		<% } %>
		at 9AM Mountain	time (<span class="adjustedNBD"></span>
		in your local time zone).
		If you are requesting a reservation that starts before
		then it is possible the reservation will no longer be
		feasible (fit the schedule) by the time it is
		processed.  Please plan accordingly, if you start an
		experiment based on currently availability, you might
		be forced to terminate that experiment, if your
		reservation is not approved.</em>
	    <% } %>
	  </div>
	  <hr>
	</div>
	<div style="margin-top: 10px;">
	  <b>Reservations are per-project!</b>
	  <div>
	    <ul>
	      <li>Any use of nodes matching the reservation by any
		user in your project will be counted against the
		reservation, including experiments that are already running</li>
	      
	      <li>It is up to you to coordinate with other members of
		your project to ensure that the nodes are available
		when you want them</li>
	      
	      <li>If another user in your project is using your reserved nodes,
		you might not be able to extend your experiments</li>

	      <li>You must use your reservation within three hours or it will
		be automatically canceled</li>

	      <li>More details are in the <a href="#" target="_blank"
					     class="reservation-manual">manual</a></li>
	      <li>
		<div class="checkbox form-check-inline" style="margin-top: 0px;">
		  I understand the above:
		  <input class="form-check-input" type="checkbox"
			 id="project-forewarned">
		  <label class="form-check-label"><b>Yes</b></label>
		</div>
	      </li>
	    </ul>
	  </div>
	</div>
	<center style="margin-top: 10px;">
          <button class='btn btn-success btn-sm confirm-button'
		  id='commit-reservation' disabled
		  data-dismiss='modal' data-bs-dismiss='modal'
		  aria-hidden='true'>Submit</button>
          <button style='margin-right: 20px;'
                  class='btn btn-default btn-sm cancel-button'
                  data-dismiss='modal' data-bs-dismiss='modal'
		  aria-hidden='true'>Cancel</button>
	</center>
      </div>
    </div>
  </div>
</div>
<!-- Help -->
<div id='reservation-help-modal' class='modal fade'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-body'>
        <button type='button' class='close btn-close'
		data-dismiss='modal' data-bs-dismiss='modal'
                aria-hidden='true'></button>
	<br>
	<p>
	  Use this form to request that resources be set aside for
	  your experiments at a future time. A reservation request
	  consists of these specific elements:
	  <ul>
	    <li> Project; what project your experiment is going to be
	    run in. If you are member of only one project, then do
	      not worry about this.</li>
	    <li> Count; How many nodes you need for your experiment. </li>
	    <li> Start date/time; when you would like the resources to
  	      be available for you to use.</li>
	    <li> End date/time; when you expect to be finished. This is
	      a <em>hard</em> deadline; if the resources have been
	      promised to another user you will not be allowed to keep
	      them past the end of the reservation (requests to extend
	      your experiment will be denied).</li>
	    <li> Cluster; at what cluster you want resources.</li>
	    <li> Node type; reservations are for specific node types. You
	      might not care what node type you get, but the reservation
	      system requires it.</li>
	    <li> Description; a reasonable explanation of why you need
	      these resources. Most reservations need administrator
	      approval, so the more details you provide, the better
	      the chances your request will be approved.
	    </li>
	  </ul>
	</p>
	  <p>
	    When you click on <b>Check</b> a preliminary query is made
	    to see if the request is <em>feasible</em> given the
	    current set of reservations at the cluster. If not, you can
	    modify your request and check again. Once you get to a
	    feasible reservation request, you will then want to <b>Submit</b>
	    it. The request might still fail, say if someone else got
	    in and captured those resources before you, but we expect
	    that to be very rare.
	  </p>
	  <p>
	    If your request is unusually large or long in duration, it
	    is possible that the reservation will be recorded in a
	    <em>pending</em> state; an administrator will need to
	    review the request and approve it. Your list of
	    reservations will indicate which requests are pending
	    approval. 
	  </p>
	  <p>
	    More info can be found in the
	    <a id="reservation-faq-button" href="#">reservation FAQ.</a>
	  </p>
      </div>
    </div>
  </div>
</div>
<!-- FAQ -->
<div id='reservation-faq-modal' class='modal fade'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-body'>
        <button type='button' class='close btn-close'
		data-dismiss='modal' data-bs-dismiss='modal'
                aria-hidden='true'></button>
	<div class="clearfix"></div>
	<center><h4>Reservation FAQ</h4></center>
	<div class="faq-contents"></div>
      </div>
    </div>
  </div>
</div>
<!-- Graph Help -->
<div id='resgraph-help-modal' class='modal fade'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-body'>
        <button type='button' class='close btn-close'
		data-dismiss='modal' data-bs-dismiss='modal'
                aria-hidden='true'></button>
	<br>
	<p>
	  The reservation graphs tell you how many of each node type
	  are available to reserve at a specific time. Use the graphs to
	  guide your requests to ensure you are asking for a reservation
	  that is possible to accommodate. Here are some helpful
	  features of the graphs:
	  <ul>
	    <li> Click on a node type label to turn off that type's
	      line. This will rescale the other lines, sometimes
	      making it easier to see those other lines.</li>
	    <li> Double Click on a node type label to turn off
	      <b>all other types</b> and rescale the one selected
	      line.</li>
	    <li> Hover over and move around the graph to show a
	      tooltip that will provide the date and time, and the free
	      count for all of the node types at the time stamp you are
	      hovering over.</li>
	    <li> Use the <em>focus</em> bar under the graph to expand,
	      contract, and move the window. This will make it easier
	      to see ranges that have a lot of activity (such as the
	      first week).</li>
	    <li> Clicking on a graph at a specific date and time while
	      hovering, will copy the date and time to the form. The
	      cluster will also be selected in the form.</li>
	    <li> Beyond the right side of the X-axis there are no
	      longer any changes in the number of nodes, so you can
	      request nodes further out in time (no guarantees that
	      your request will be approved).</li>
	    <li> Click on the full screen
	      (<span class='glyphicon glyphicon-fullscreen'></span>)
	      icon to pop up a larger version of the graph.</li>
	    <li> Questions or suggestions, please let us know!</li>
	  </ul>
	</p>
      </div>
    </div>
  </div>
</div>
<div class='modal fade' id="resgraph-modal">
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-body'>
	<div class='panel  card panel-default'>
	  <div class="panel-heading card-header">
            <button type='button' class='close btn-close'
		    data-dismiss='modal' data-bs-dismiss='modal'
                    aria-hidden='true'></button>
	    <center>
	      <h5>
		<span class="cluster-name"></span> Availability
	      </h5>
	    </center>
	  </div>
	  <div class='panel-body card-body resgraph-modal-size'>
	    <svg style="height: 100%; padding: 0px;"></svg>
	  </div>
	</div>
      </div>
    </div>
  </div>
</div>
<div id='delete-reservation-modal' class='modal fade'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-body'>
        <button type='button' class='close btn-close'
		data-dismiss='modal' data-bs-dismiss='modal'
                aria-hidden='true'></button>
        <center><h4>Confirm to Delete Reservation</h4>
	  <% if (window.ISADMIN) { %>
	    Message to send to user
	    <div>
	      <textarea id='delete-reason'
			class='form-control'
			rows=5></textarea>
	    </div>
	  <% } %>
	  <br>
          <button class='btn btn-danger btn-sm confirm-button'
		  id='confirm-delete'>
	    Confirm</button>
          <button class='btn btn-default btn-sm cancel-button'
		  data-dismiss='modal' data-bs-dismiss='modal'>
	    Cancel</button>
	</center>
	<% if (window.ISADMIN) { %>
	    <input type=checkbox class="nolongerfits" value=yes>
	    No longer fits the schedule
	<% } %>
      </div>
    </div>
  </div>
</div>
<div id='approve-modal' class='modal fade'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-body'>
        <button type='button' class='close btn-close'
		data-dismiss='modal' data-bs-dismiss='modal'
                aria-hidden='true'></button>
        <center><h4>Confirm to Approve Reservation</h4>
	  Additional text to send with approval (no text is okay):
	  <div>
	    <textarea class='form-control user-message'
		      rows=5></textarea>
	  </div>
	  <br>
          <button class='btn btn-success btn-sm confirm-button'
		  id='confirm-approve'>Confirm</button>
          <button class='btn btn-default btn-sm cancel-button'
		  data-dismiss='modal' data-bs-dismiss='modal'>
	    Cancel</button>
	</center>
      </div>
    </div>
  </div>
</div>
<div id='info-modal' class='modal fade'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-body'>
        <button type='button' class='close btn-close'
		data-dismiss='modal' data-bs-dismiss='modal'
                aria-hidden='true'></button>
        <center><h4>Confirm to Send Message</h4>
	  <span class="hidden nomessage-error text-danger">Give me Text!</span>
	  <div>
	    <textarea class='form-control user-message'
		      rows=5></textarea>
	  </div>
	  <br>
          <button class='btn btn-success btn-sm confirm-button'>
	    Confirm</button>
          <button class='btn btn-default btn-sm cancel-button'
		  data-dismiss='modal' data-bs-dismiss='modal'>
	    Cancel</button>
	</center>
      </div>
    </div>
  </div>
</div>
<div id='warn-modal' class='modal fade'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-body'>
        <button type='button' class='close btn-close'
		data-dismiss='modal' data-bs-dismiss='modal'
                aria-hidden='true'></button>
        <center><h4>Confirm to Send Warning Message</h4>
	  Additional text to send with warning (no text is okay):
	  <div>
	    <textarea class='form-control user-message'
		      rows=5></textarea>
	  </div>
	  <input type=checkbox id='schedule-cancellation' value=yes>
	  Cancel reservation in 24 hours?
	  <div style="margin-top:10px;">
            <button class='btn btn-success btn-sm confirm-button'>
	      Confirm</button>
            <button class='btn btn-default btn-sm cancel-button'
		    data-dismiss='modal' data-bs-dismiss='modal'>
	      Cancel</button>
	  </div>
	</center>
      </div>
    </div>
  </div>
</div>
<div id='uncancel-modal' class='modal fade'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-body'>
        <button type='button' class='close btn-close'
		data-dismiss='modal' data-bs-dismiss='modal'
                aria-hidden='true'></button>
        <center><h4>Confirm to Cancel Cancellation</h4>
	  <br>
          <button class='btn btn-success btn-sm confirm-button'
		  id='confirm-uncancel'>Confirm</button>
          <button class='btn btn-default btn-sm cancel-button'
		  data-dismiss='modal' data-bs-dismiss='modal'>
	    Cancel</button>
	</center>
      </div>
    </div>
  </div>
</div>
<div id='toosoon-modal' class='modal fade'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-body'>
        <button type='button' class='close btn-close'
		data-dismiss='modal' data-bs-dismiss='modal'
                aria-hidden='true'></button>
	<br>
	<div>
	  Reservations that need approval must start no earlier then
	  <% if (1) { %>
	    the <b>next business day</b>
	  <% } else { %>
	    <b>two business days from now</b>
	  <% } %>
	  at 9AM Mountain time (<span class="adjustedNBD"></span>
	  in your local time zone) so that administrators have
	  sufficient time to review your request.
	</div>
	<center style="margin-top: 10px;">
          <button class='btn btn-default btn-xs'
		  data-dismiss='modal' data-bs-dismiss='modal'>Dismiss</button>
	</center>
      </div>
    </div>
  </div>
</div>
<!-- PhantomNet Matrix Connections -->
<div id='matric-connections-modal' class='modal fade'>
  <div class='modal-dialog modal-sm'>
    <div class='modal-content'>
      <div class='modal-body'>
	<button type="button" class="close btn-close"
		data-dismiss="modal" data-bs-dismiss="modal"
	  <span aria-hidden="true"></span></button>	
	<center>
	  <small>
	    <table class="table table-bordered table-condensed">
	      <thead>
		<tr>
		  <th>Node ID1</th>
		  <th>Node ID2</th>
		</tr>
	      </thead>
	      <tbody>
		<% var wires = {}; %>
		<% _.each(matrixinfo, function(details, node_id1) { %>
		  <% _.each(details.wires, function(node_id2) { %>
		    <% if (!_.has(wires, node_id1 + ":" + node_id2) &&
		      !_.has(wires, node_id2 + ":" + node_id1)) { %>
		      <tr>
			<td><%- node_id1 %></td>
			<td><%- node_id2 %></td>
		      </tr>
		      <% wires[node_id2 + ":" + node_id1] = 1;
		      wires[node_id1 + ":" + node_id2] = 1; } %>
		    <% }) %>
		  <% }) %>
	      </tbody>
	    </table>
	  </small>
	</center>
      </div>
    </div>
  </div>
</div>
