<div id='resusage-modal-<%- uuid %>' class='modal fade'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-body'>
        <button type='button' class='close btn-close'
		data-dismiss='modal' data-bs-dismiss='modal'
                aria-hidden='true'></button>
	<center>
	  <h5>Recent/Current usage in project <%- project %> for
	    node type <%- type %></h5>
	</center>
	<div>
	  <table class='table table-condensed'>
	    <thead>
	      <tr>
		<th>Name</th>
		<th>Start</th>
		<th style="min-width: 100px;">End</th>
		<th>Count</th>
	      </tr>
	    </thead>
	    <tbody>
	      <% _.each(history, function(value, uuid) { %>
		<tr>
		  <td>
		    <% if (_.has(value, "instance_uuid")) { %>
		      <a target="_blank"
			 href='status.php?uuid=<%- value.instance_uuid %>'>
			<%- value.eid %></a>
		    <% } else { %>
		      <%= value.eid %>
		    <% } %>
		  </td>
		  <td class="format-date">
		    <%- value.start %></td>
		  <td class="format-date">
		    <%- value.end %></td>
		  <td><%- value.types[type].count %></td>
		</tr>
	      <% }); %>
	    </tbody>
	  </table>
	</div>
      </div>
    </div>
  </div>
</div>



