<div id='save-paramset-modal' class='modal fade'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class="modal-header">
        <button type='button' class='close btn-close'
		data-dismiss='modal' data-bs-dismiss='modal'
                aria-hidden='true'></button>
	<center><h4>Save Parameter Set</h4></center>
      </div>
      <div class='modal-body'>
	Save the parameters used to create this experiment. The next
	time you instantiate this profile, there will be an option to
	apply the saved parameters. You can save multiple parameters
	sets for a profile, just give them unique names. All of your
	saved parameter sets can be found on your
	<a href="user-dashboard.php#paramsets" target="_blank">dashboard</a>.
	
	<div style="margin-top: 20px;">
          <center>
	    <div>
	      Please provide an alphanumeric name for this parameter set:
	      <input id="paramset-name" style="width: 20%;"
		     class="form-control" placeholder="alphanumeric only">
	      <div class="text-danger hidden paramset-error name-error"
		   style="text-align: center;"></div>
	      <div style="margin-top: 0px">
		<div class="checkbox" style="margin-top: 0px;">
		  <label>
		    <input id="paramset-replace" type="checkbox">
		    Replace parameter set with this name <b>[1]</b>?
		  </label>
		</div>
	      </div>
	    </div>
	    <div style="margin-top: 15px">
	      Please briefly describe this parameter set to help you remember:
	      <div>
		<textarea id="paramset-description" style="width: 80%;"
			  rows=2 type='textarea'></textarea>		
		<div class="text-danger hidden paramset-error description-error"
		     style="text-align: center;"></div>
	      </div>
	    </div>
	  </center>
	  <form class="form-horizontal">	
	    <div class="form-group" style="margin-bottom: 0px;">
	      <div class="col-sm-offset-4 offset-sm-4 col-sm-8">
		<div class="checkbox">
		  <label>
		    <input id="paramset-public" type="checkbox">
		    Make this parameter set public <b>[2]</b>?
		  </label>
		</div>
	      </div>
	    </div>
	    <% if (window.ISADMIN) { %>
	      <div class="form-group" style="margin-bottom: 0px;">
		<div class="col-sm-offset-4 offset-sm-4 col-sm-8">
		  <div class="checkbox">
		    <label>
		      <input id="paramset-global" type="checkbox">
		      Make this parameter set global?
		    </label>
		  </div>
		</div>
	      </div>
	    <% } %>
	    <div class="form-group" style="margin-bottom: 0px;">
	      <div class="col-sm-offset-4 offset-sm-4 col-sm-8">
		<div class="checkbox">
		  <label>
		    <input id="paramset-bound" type="checkbox">
		    Bind these parameters to the profile version <b>[3]</b>?
		  </label>
		</div>
	      </div>		
	    </div>
	  </form>
	</div>
	<div style="margin-top: 15px;">
          <center>
	    <button type='button' class='btn btn-success btn-sm confirm-button'
		    id='save-paramset-confirm'>
              Save</button>
            <button type='button' class='btn btn-default btn-sm cancel-button' 
                    data-dismiss='modal' data-bs-dismiss='modal'
		    aria-hidden='true'>
	      Cancel</button>
	    <div class="text-danger hidden paramset-error general-error"
		 style="text-align: center;"></div>
	  </center>
	</div>
	<div style="margin-top: 15px;">
	  <b>[1]</b> Use this checkbox to <em>edit</em> an existing parameter set.
	</div>
	<div style="margin-top: 3px;">
	  <b>[2]</b> Making the parameter set public allows users outside
	  your project to use this parameter set, say, when sending a share
	  link to another user. 
	</div>
	<div style="margin-top: 3px;">
	  <b>[3]</b> Typically you want to leave this box unchecked so
	  that your parameter set can be used with <b>any</b> version of
	  the profile. Checking this box means that you will need to
	  create another parameter set if you edit your profile and save
	  a new version. A possible reason for binding a parameter set
	  to a specific version is because of an incompatible change made
	  to the profile. Contact us for more information if you have
	  questions regarding this checkbox.
	</div>
      </div>
    </div>
  </div>
</div>
<div id='paramset-saved-modal' class='modal fade'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-body'>
	<p>
	  Your parameter set has been saved. You can use the link below
	  to share with users who wish to instantiate this profile using
	  this parameter set. Note that both the parameter set and the
	  profile must be public, for a user in another project to use
	  this link.
	</p>
	<center>
	  <div class="copy-to-clipboard">
	    <div class="input-group">
	      <input id="paramset-saved-link" readonly
		     class="form-control" value="No Value">
	      <span class="input-group-text">
		<a href='#' class='btn'>
		  <span class='glyphicon glyphicon-copy'></span></a>
	      </span>
	    </div>
	  </div>
	</center>
	<center style="margin-top: 15px;">
          <button type='button'
                  class='btn btn-default btn-sm' 
                  data-dismiss='modal' data-bs-dismiss='modal'
		  aria-hidden='true'>
	    Dismiss</button>
	</center>
      </div>
    </div>
  </div>
</div>






