<style>
 .jstree {
     font-size: 16px;
 }
 .dl-horizontal {
     font-size: 16px;
 }
</style>

<div class='panel panel-default'>
  <div class='panel-heading text-center'>
    <button class='btn btn-info btn-xs pull-right'
	    style='margin-top: -4px;'
	    data-toggle='modal'
	    data-target='#hardware-help-modal'
            type='button'>Help</button>
    <h3 class='panel-title'>Hardware info</h3>
  </div>
  <div class='panel-body' style="padding-top: 10px;">
    <div class='row'>
      <div class='col-xs-5'
	   style="border-right:1px solid; height: 80vh; overflow: scroll;">
	<div class="input-group">
	  <input type="search" disabled
		 id="hardware-search"
		 class="form-control search" placeholder="Search">
	  <span class="input-group-btn">
            <button class="btn btn-default" disabled
		    data-expanded="false"
		    id="expand-all"
		    type="button">Expand All</button>
	  </span>
	  <% if (window.AMLIST === undefined) { %>
	    <span class="input-group-btn">
              <button class="btn btn-default" disabled
		      data-expanded="false"
		      id="summary"
		      type="button">
		<% if (window.SUMMARY) { %>Details<% } else { %>Summary<% } %>
	      </button>
	    </span>
	  <% } %>
	</div>	
	<div id="tree" style="margin-top: 5px;"></div>
      </div>
      <div class='col-xs-7'>
	<div id="properties">
	  <dl class="dl-horizontal"></dl>
	</div>
      </div>
    </div>
  </div>
</div>
<div id='hardware-help-modal' class='modal fade'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-header'>
        <button type='button' class="close"
                data-dismiss='modal' aria-hidden='true'>&times;</button>
        <center><h3>About this info ...</h3></center>
      </div>
      <div class='modal-body'>
	<p>
	  The information on this page was gathered using the Linux
	  <em>lshw</em> command. From the
	  <a href="https://linux.die.net/man/1/lshw" target="_blank">
	    man page for lshw</a>: "lshw is
	  a small tool to extract detailed information on the hardware
	  configuration of the machine. It can report exact memory
	  configuration, firmware version, mainboard configuration,
	  CPU version and speed, cache configuration, bus speed,
	  etc. on DMI-capable systems."
	</p>
	<p>
	  The information is presented as a tree of devices/buses and
	  associated configuration and capabilities. Click around the
	  tree to open up child buses and devices.
	</p>
	<p>
	  Use the search box to find specific devices. For example, type
	  <em>network</em> or <em>scsi</em> into the search box. The
	  tree will open up to those devices.
	</p>
      </div>
    </div>
  </div>
</div>
<div id='waitwait_div'></div>
<div id='oops_div'></div>
