<style>
 .table-condensed > thead > tr > th,
 .table-condensed > tbody > tr > th,
 .table-condensed > tfoot > tr > th,
 .table-condensed > thead > tr > td,
 .table-condensed > tbody > tr > td,
 .table-condensed > tfoot > tr > td {
     padding-top: 2px;
     padding-bottom: 2px;
 }
 .panel-body > table {
     margin-bottom: 0px;
 }
</style>
<div class='col-lg-6  col-lg-offset-3
            col-md-8  col-md-offset-2
            col-sm-10 col-sm-offset-1
            col-xs-12'>
  <div class='panel panel-default'>
    <div class='panel-body'>
      <table class='table table-condensed table-bordered'>
	<tr>
	  <td>Vlan ID</td>
	  <td><%- info.id %></td>
	</tr>
	<tr>
	  <td>Tag</td>
	  <td><%- info.tag %></td>
	</tr>
	<tr>
	  <td>Stack</td>
	  <td><%- info.stack %></td>
	</tr>
	<tr>
	  <td>Link Name</td>
	  <td><%- info.virtual %></td>
	</tr>
	<tr>
	  <td>PID</td>
	  <td><a href="show-project.php?pid=<%- info.pid %>"
		 target="_blank"><%- info.pid %></a>
	  </td>
	</tr>
	<tr>
	  <td>EID</td>
	  <td>
	    <% if (_.has(info, "instance_uuid")) { %>
	      <a href="status.php?uuid=<%- info.instance_uuid %>"
		 target="_blank"><%- info.eid %></a>
	    <% } else { %>
	      <a href="<%- window.CLASSIC %>/showexp.php3?pid=<%- info.pid %>&eid=<%- info.eid %>"
		 target="_blank"><%- info.eid %></a>
	    <% } %>
	  </td>
	</tr>
      </table>
    </div>
  </div>
</div>
<div class='col-lg-12 col-lg-offset-0
	    col-md-12 col-md-offset-0
	    col-sm-12 col-sm-offset-0
	    col-xs-12 col-xs-offset-0'>
  <div>
    <div class='panel panel-default'>
      <div class='panel-heading'>
	<h3 class="panel-title">Members</h3>
      </div>
      <div class="panel-body">
	<table class='table table-condensed table-bordered'>
	  <thead>
	    <th>Node ID</th>
	    <th>Iface</th>
	    <th>Type</th>
	    <th>Protocol</th>
	    <th>MAC</th>
	    <th>Speed/Mbs</th>
	    <th>IP</th>
	    <th>Switch</th>
	    <th>Iface</th>
	  </thead>
	  <tbody>
	    <% _.each(info.members, function(info) { %>
	      <tr>
		<td>
		  <a href="show-node.php?node_id=<%- info.node_id %>">
		    <%- info.node_id %></a></td>
		<td><%- info.iface %></td>
		<td><%- info.type %></td>
		<td><%- info.protocols %></td>
		<td><%- info.mac %></td>
 		<td>
		  <% if (info.current_speed != 0) { %>
		    <%- info.current_speed %><% } %>
		</td>
		<td><%- info.IP %></td>
		<% if (info.switch_id) {
		  var url = "show-node.php?node_id=" + info.switch_id;
		  if (info.switch_isswitch) {
		    url += "#" + info.switch_card + ":" + info.switch_port;
		  }
		%>
		  <td><a href="<%- url %>"><%- info.switch_id %></a></td>
		  <td><%- info.switch_iface %>
		    (<%- info.switch_card %>,<%- info.switch_port %>)</td>
	        <% } else { %>
		  <td></td>
		  <td></td>
   	        <% } %>
	      </tr>
            <% }); %>
	  </tbody>
	</table>
      </div>
    </div>
  </div>
</div>
<% if (_.has(info, "vinterfaces") && info.vinterfaces) { %>
  <div class='col-lg-8  col-lg-offset-2
	      col-md-8  col-md-offset-2
	      col-sm-10 col-sm-offset-1
	      col-xs-12 col-xs-offset-1'>
    <div>
      <div class='panel panel-default'>
	<div class='panel-heading'>
	  <h3 class="panel-title">Virtual Interfaces</h3>
	</div>
	<div class="panel-body">
	  <table class='table table-condensed table-bordered'>
	    <thead>
	      <th>Node ID</th>
	      <th>Iface</th>
	      <th>MAC</th>
	      <th>IP</th>
	    </thead>
	    <tbody>
	      <% _.each(info.vinterfaces, function(vlan) { %>
		<tr>
		  <td>
		    <% if (vlan.vnode_id) { %>
		      <a href="show-node.php?node_id=<%- vlan.vnode_id %>">
			<%- vlan.vnode_id %></a>
		    <% } else { %>
		      <a href="show-node.php?node_id=<%- vlan.node_id %>">
			<%- vlan.node_id %></a>
		    <% } %>
		  </td>
		  <td><%- vlan.iface %></td>
		  <td><%- vlan.mac %></td>
		  <td><%- vlan.IP %></td>
		</tr>
	      <% }); %>
	    </tbody>
	  </table>
	</div>
      </div>
    </div>
  </div>
<% } %>
<% if (info.wires) { %>
  <div class='col-lg-12 col-lg-offset-0
	      col-md-12 col-md-offset-0
	      col-sm-12 col-sm-offset-0
	      col-xs-12 col-xs-offset-0'>
    <div>
      <div class='panel panel-default'>
	<div class='panel-heading'>
	  <h3 class="panel-title">Switch Path</h3>
	</div>
	<div class="panel-body">
	  <div class="table-fixed">
	    <table class='table table-condensed table-bordered'>
	      <thead>
		<th>Switch 1</th>
		<th>Iface</th>
		<th>Switch 2</th>
		<th>Iface</th>
	      </thead>
	      <tbody>
		<% _.each(info.wires, function(wire) { %>
		  <tr>
		    <td>
		      <% 
			var url = "show-node.php?node_id=" + wire.node_id1;
			url = url + "#" + wire.card1 + ":" + wire.port1;
			%>
		      <a href="<%- url %>"><%- wire.node_id1 %></a>
		    </td>
		    <td><%- wire.iface1 %>
		      (<%- wire.card1 %>,<%- wire.port1 %>)
		    </td>
		    <td>
		      <% 
			var url = "show-node.php?node_id=" + wire.node_id2;
			url = url + "#" + wire.card2 + ":" + wire.port2;
			%>
		      <a href="<%- url %>"><%- wire.node_id2 %></a>
		    </td>
		    <td><%- wire.iface2 %>
		      (<%- wire.card2 %>,<%- wire.port2 %>)
		    </td>
		  </tr>
		<% }); %>
	      </tbody>
	    </table>
	  </div>
	</div>
      </div>
    </div>
  </div>
<% } %>
