<!-- This is the topology view modal -->
<div id='showtopology-modal' class='modal fade showtopology-modal'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-header'>
        <button type='button' class='close btn-close'
		data-dismiss='modal' data-bs-dismiss='modal'
                aria-hidden='true'></button>
        <h3 class="modal-title">Topology Viewer</h3>
      </div>
      <div class='modal-body'>
        <!-- This topo diagram goes inside this div -->
        <div class='showtopology-bare'></div>
      </div>
    </div>
  </div>
</div>
