<div class="form-group sidebyside-form" >
  <input name="formfields[uid]" value="<%- formfields.uid %>"
	 class="form-control format-me" data-key="uid"
	 placeholder="Username"
	 <% if (promoting) { %>readonly<% } else { %>autofocus<% } %>
	 type="text">
</div>  
<div class="form-group sidebyside-form" >
  <input name="formfields[fullname]" value="<%- formfields.fullname %>"
	 class="form-control format-me" data-key="fullname"
	 placeholder="Full Name" type="text">
</div>
<div class="form-group sidebyside-form" >
  <input name="formfields[email]" value="<%- formfields.email %>"
	 class="form-control format-me" data-key="email"
	 <% if (promoting) { %>readonly<% } %>
	 placeholder="Email" type="text">
</div>
<div class="form-group sidebyside-form" >
  <input name="formfields[title]" value="<%- formfields.title %>"
	 class="form-control format-me" data-key="title"
	 placeholder="Job Title (eg: Student|Faculty|PostDoc|Staff|etc)"
	 type="text">
  <tiny>
    <em>If you work at a company, please provide your professional title</em>
  </tiny>
</div>
<% if (window.ISPOWDER) { %>
<div class="form-group sidebyside-form" >
  <input name="formfields[address1]" value="<%- formfields.address1 %>"
	 class="form-control format-me" data-key="address1"
	 placeholder="Home Address Line 1" type="text">
</div>
<div class="form-group sidebyside-form" >
  <input name="formfields[address2]" value="<%- formfields.address2 %>"
	 class="form-control format-me" data-key="address2"
	 placeholder="Home Address Line 2" type="text">
</div>
<% } %>
<div class="form-group sidebyside-form" >
  <select id="signup_countries" name="formfields[country]"
          class="form-control format-me bfh-countries form-select"
          data-country="<%- formfields.country %>"
          data-blank="false" data-ask="true" data-key="country">
  </select>
</div>
<div class="form-group sidebyside-form" >
  <select id="signup_states" name="formfields[state]"
          class="form-control format-me bfh-states form-select"
	  data-state="<%- formfields.state %>"
	  data-country="signup_countries" data-ask="true"
          placeholder="State" data-blank="false" data-key="state">
  </select>
</div>
<% if (window.ISPOWDER) { %>
  <div class="form-group sidebyside-form" >
    <div class="row">
      <div class="col-xs-8" style="padding-right: 5px;">
	<input name="formfields[city]" value="<%- formfields.city %>"
	       class="form-control format-me" data-key="city"
	       placeholder="City" type="text">
      </div>
      <div class="col-xs-4" style="padding-left: 5px;">  
	<input name="formfields[zip]" value="<%- formfields.zip %>"
	       class="form-control format-me" data-key="zip"
	       placeholder="Zip/Postal Code" type="text">
      </div>
    </div>
  </div>
<% } else { %>
  <div class="form-group sidebyside-form" >
    <input name="formfields[city]" value="<%- formfields.city %>"
	   class="form-control format-me" data-key="city"
	   placeholder="City" type="text">
  </div>
<% } %>
<div class="form-group sidebyside-form" >
  <input id="signup_affiliation" name="formfields[affiliation]"
	 value="<%- formfields.affiliation %>"
	 class="form-control format-me" data-key="affiliation"
	 placeholder="Institutional Affiliation; please provide the full name, not an abbreviation" type="text">
  <a href="#"
     data-target='#institutional-why' data-bs-target='#institutional-why'
     data-toggle='modal' data-bs-toggle='modal'><tiny>Why is this important?</tiny></a>
</div>
<% if (!promoting) { %>
  <div class="form-group sidebyside-form" style="margin-top: 15px;" >
    <div class="format-me" data-key="keyfile">
      <span class="help-block">SSH Public Key file
	(<a target="_blank"
	    href='https://help.github.com/articles/generating-ssh-keys'>SSH
	Tutorial</a>)</span>
      <% if (_.has(formfields, "pubkey")) { %>
	<input type="hidden" name="pubkey" value="<%- formfields.pubkey %>">
      <% } %>
      <input type="hidden" name="MAX_FILE_SIZE" value=4096>
      <input type="file" name="keyfile"
             placeholder="SSH Public Key File">
    </div>
  </div>
  <div class="form-group sidebyside-form" >
    <input name="formfields[password1]" value="<%- formfields.password1 %>"
	   class="form-control format-me" data-key="password1"
	   placeholder="Password" type="password">
  </div>
  <div class="form-group sidebyside-form" >
    <input name="formfields[password2]" value="<%- formfields.password2 %>"
	   class="form-control format-me" data-key="password2"
	   placeholder="Confirm Password" type="password">
  </div>
<% } %>
<div id='institutional-why' class='modal fade'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-body'>
        <button type='button' class='close btn-close'
		data-dismiss='modal' data-bs-dismiss='modal'
                aria-hidden='true'></button>
	<p style="font-size: 16px; margin-top: 15px;">
	  Providing the complete (non-abbreviated) name of your affiliation
	  allows us to provide better usage statistics to our funders.
	</p>
	<p style="font-size: 16px;">
	  The input box is an autocomplete dropdown list. If you do not see your
	  institution listed, please type it out fully. 
	</p>
      </div>
    </div>
  </div>
</div>
