<div>
<div id='snapshot_modal' class='modal fade'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-header'>
	<h4 class='modal-title text-center'>Snapshot Dataset</h4>
      </div>
      <div class='modal-body'>
	<p>
	  Replace the contents of your dataset by taking a new snapshot of
	  the data from one of your current experiments. Pick the
	  experiment from the drop down menu, be sure to check that the
	  node and blockstore names are correct. 
	</p>
	<p>
	  <b>Be sure to log off from your node so that we can get a
	  consistent snapshot</b>. More generally, nothing should be
	  running that is accessing the data while we do the snapshot.
	</p>
	<form id='snapshot_dataset_form'
	      class='form-horizontal mb-0' role='form'>
	  <input type='hidden' name='dataset_uuid' value='<%- dataset_uuid %>'>
	  <div class='row'>
	    <div class='col-sm-12'>
	      <% if (instancelist) { %>
		<div class="form-group">
		  <select name="dataset_instance"
			  id="dataset_instance"
			  class='form-control form-select format-me'
			  data-key="dataset_instance"
			  data-label="Instance"
			  placeholder='Please Select'>
		    <option value=''>Please Select</option>
		    <% _.each(instancelist, function(instance) { %>
		      <option
			  <% if (instance.uuid == formfields.dataset_instance) { %>
			  selected
			  <% } %>
			  value='<%= instance.uuid %>'><%= instance.name %>
		      </option>
		    <% }); %>
		  </select>
		</div>
		<div class="form-group">
		  <select name="dataset_node"
			  id="dataset_node"
			  class='form-control form-select format-me'
			  data-key="dataset_node"
			  data-label="Node"
			  placeholder='Please Select'>
		  </select>
		</div>
		<div class="form-group">
		  <select name="dataset_bsname"
			  id="dataset_bsname"
			  class='form-control form-select format-me'
			  data-key="dataset_bsname"
			  data-label="BS Name"
			  placeholder='Please Select'>
		  </select>
		</div>
	      <% } else if (embedded) { %>
	        <div class="form-group">
		  <input name="dataset_node" id='dataset_node'
			 value="<%- formfields.dataset_node %>"
			 class="form-control format-me"
			 data-key="dataset_node"
			 data-label="Node"
			 placeholder="Node to snapshot dataset from"
			 type="text">
		</div>
		<div class="form-group">
		  <input name="dataset_bsname" id='dataset_bsname'
			 value="<%- formfields.dataset_bsname %>"
			 class="form-control format-me"
			 data-key="dataset_bsname"
			 data-label="BS Name"
			 placeholder="Blockstore name on the node"
			 type="text">
		</div>
	      <% } %>
	    </div>
	  </div>
	</form>
	<center class="mt-0">
	  <span id="general_error" style="color:red;"></span>
	</center>
	<center class="mt-3">
          <button class='btn btn-primary btn-sm confirm-button'
		  id='snapshot_submit_button' 
		  type='button' name='approve'>
	    Confirm</button>
          <button class='btn btn-default btn-sm cancel-button'
		  data-dismiss='modal' data-bs-dismiss='modal'>
	    Cancel</button>
	</center>
      </div>
    </div>
  </div>
</div>
</div>
