.navbar {
    height: 50px;
}

.portal-navbar {
    margin-bottom: 15px;
    height: 60px;
}

.portal-navbar .navbar-header {
  margin-top: 20px;
}

.navbar-brand {
  height: 60px;
}

.navbar-brand > img {
  height: 50px;
}

.local-name {
  margin-top: 6px;
  margin-left: -5px;
  padding-right: 10px;
  border-radius: 5px;
}

.navbar-nav > li > a.admin-toggle {
  margin-top: 20px;
}

.navbar, .navbar-inner {
  background-color: #66b2ff;
}

.nav > li > a.btn-quickvm-home,
.nav > li > a.btn-quickvm-home:focus,
.nav > li > a.btn-quickvm-home:active,
.nav > li > a.btn-quickvm-home:hover,
.nav > li > a.btn-quickvm-home.dropdown-toggle,
.nav > li > a.btn-quickvm-home.dropdown-toggle:focus,
.nav > li > a.btn-quickvm-home.dropdown-toggle:active,
.nav > li > a.btn-quickvm-home.dropdown-toggle:hover {
  color: #050505;
  border-color: rgba(0, 0, 0, 0.3);
  font-weight: normal;
}

.nav > li > a.btn-quickvm-home,
.nav > li > a.btn-quickvm-home.dropdown-toggle {
  background-color: rgba(255, 255, 255, 0.05);
}

.nav > li > a.btn-quickvm-home:hover,
.nav > li > a.btn-quickvm-home:active, 
.nav > li > a.btn-quickvm-home:focus,
.nav > li > a.btn-quickvm-home.dropdown-toggle:hover,
.nav > li > a.btn-quickvm-home.dropdown-toggle:active, 
.nav > li > a.btn-quickvm-home.dropdown-toggle:focus {
  background-color: rgba(255, 255, 255, 0.15);
}

#footer, #footer a, #footer a:hover {
  background-color: #66b2ff;
  color: black;
}
#footer a, #footer a:hover {
  color: black;
}

.btn-success {
  background-color: #289328;
  border-color:     #237f23;
}
.btn-primary {
  background-color: #2f8ead;
  border-color:     #2a7e99;
}
.btn-info {
  background-color: #2f64ad;
  border-color:     #2a5899;
}
.btn-warning {
  background-color: #8a7626;
  border-color:     #766520;
}
.btn-danger {
  background-color: #9c2a2a;
  border-color:     #882525;

}
