.tooltip-inner {
    text-align: left;
}
.panel-heading-list {
    padding: 2px;
}
.panel-body-dashboard {
    padding: 2px;
}

.group-row {
    border: 1px solid grey;
}
.group-row,
.group-row .panel {
    //background-color: #ebf2fa !important;
    margin-bottom: -1px;
}
.structset {
    border: 1px solid grey;
    margin-bottom: 5px;
}
.struct-row,
.struct-row .panel {
    //background-color: #ebf2fa !important;
}
.resgraph-size {
    max-height:300px;
    height:300px;
}
.resgraph-modal-size {
    max-height:600px;
    height:600px;
}
svg {
    display: block;
}
.scrollable-submenu, .scrollable-menu {
    height: auto;
    max-height: 300px;
    overflow-x: hidden;
}
.scrollable-menubroken {
    height: auto;
    max-height: 250px;
    overflow-y: scroll;
}
.icon-info-right {
    position: absolute;
    right: 10px;
    top: 3px;
    padding: 0px;
    pointer: pointer;
}
.right-menu {
    top: 0;
    left: unset;
}
.open > .right-menu {
    display: inline-block;
}
.right-caret {
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
    border-left: 4px solid;
    display: inline-block;
    margin-left: 2px;
    margin-top: 5px;
    margin-right: -10px;
    height: 0;
    width: 0;
    float: right;
}
.table-condensed > thead > tr > th,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > td {
    padding-top: 2px;
    padding-bottom: 2px;
}
.alert-sm {
    padding: 5px;
    margin-bottom: 3px;
    border: 1px solid transparent;
    border-radius: 3px;
} 
.alert {
    padding: 10px;
} 
