#profile_picker_search {
  margin-bottom: 10px;
}

#picker-modal #profile_name {
  height: 100%;
}

#picker-modal #profile_name li {
  cursor: pointer;
  border-right: 0;
  border-left: 0;
  padding: 9px 15px;
}

#picker-modal #profile_name ul {
  margin: 0;
  padding: 0;
}

#picker-modal #profile_name > span {
  margin-top: 10px;
  color: gray;
  cursor: pointer;
  display: block;
  -webkit-user-select: none; /* webkit (safari, chrome) browsers */
  -moz-user-select: none; /* mozilla browsers */
  -khtml-user-select: none; /* webkit (konqueror) browsers */
  -ms-user-select: none; /* IE10+ */
}

#picker-modal #profile_name > span:first-child {
  margin-top: 0;
}

#picker-modal #profile_name .category_collapsable:after {
  content:"+";
}

#picker-modal #profile_name .category_collapsable.expanded:after {
  content:"-";
}

#picker-modal #profile_name .project_info {
  color: gray;
}

#picker-modal #profile_name .selected {
  background-color: #3276B1;
  color: #FFF;
}

#picker-modal #profile_name .selected .project_info {
  color: #FFF;
}

#picker-modal #showtopo_title button {
  position: absolute;
  right: 10px;
  top: 5px;
}

#picker-modal #showtopo_title #set_favorite {
  color: lightgray;
}

#picker-modal #showtopo_title #set_favorite.favorite {
  color: gold;
}

#picker-modal #showtopo_title #set_favorite:before {
  display: block;
  left: -4px;
  position: absolute;
}

#picker-modal #showtopo_title #set_favorite:after {
  color: #333;
  content: " Add to Favorites";
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  display: block;
  padding-left: 11px;
}

#picker-modal #showtopo_title #set_favorite.favorite:after {
  content: " Favorite";
}

#showtopo_container > div > .panel-body {
  padding: 0;
}

#showtopo_container #showtopo_description {
  width: 75%;
}

#showtopo_container #showtopo_details {
  height: 50%;
  overflow-y: scroll;
  margin-top: 5px;
}

#showtopo_container #showtopo_details > div {
  width: 100%;
}

#showtopo_container #showtopo_details > div:nth-child(odd) {
  background: #eee;
}

#showtopo_description p:last-child {
  margin: 0;
}

#showtopo_container .form-group {
  height: 100%;
  padding: 0 0 44px;
}

#showtopo_div {
    height: 44%;
}

@media (min-width: 1220px) {
  #showtopo_dialog {
    width: 1200px;
  }
  #showtopo_div {
    width: 854px;
  }
}

@media (max-width: 689px) {
  #showtopo_container > div, #edit_container > div {
      width: 100%;
  }
  #showtopo_container .form-group, #edit_container .form-group {
    height: 180px;
    border-bottom: 1px solid #DDD;
  }
  #picker-modal #profile_name {
      height: 180px;
      overflow-y: scroll;
  }
  #showtopo_container #showtopo_details {
    height: 200px;
  }
  #showtopo_dialog #showtopo_div {
    height: 200px;
  }
  .modal-dialog {
    width: 90%;
    margin: 30px auto;
  }
}

#showtopo_title h3 {
  margin: 4px 0 0;
}

#picker-modal #showtopo_container {
  height: 100%;
  margin: 0;
}

#picker-modal .modal-body {
  margin-top: 0px;
  overflow: hidden;
  padding: 10px 0 10px 20px;
  height: 640px;
}

#showtopo_buttons {
  position: absolute;
  bottom: 0;
  right: 10px;
}

.showtopology-picker {
    border: 0px;
}
