<!--
   Copyright (c) 2005-2020, 2022 University of Utah and the Flux Group.
   
   {{{EMULAB-LICENSE
   
   This file is part of the Emulab network testbed software.
   
   This file is free software: you can redistribute it and/or modify it
   under the terms of the GNU Affero General Public License as published by
   the Free Software Foundation, either version 3 of the License, or (at
   your option) any later version.
   
   This file is distributed in the hope that it will be useful, but WITHOUT
   ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
   FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public
   License for more details.
   
   You should have received a copy of the GNU Affero General Public License
   along with this file.  If not, see <http://www.gnu.org/licenses/>.
   
   }}}
  -->
<center>
<h3>Emulab's arrangement of switches and PCs</h3>
</center>

<center>
<div style="height: auto; width: 100%">
<a href=topo.svg><img src=topo.jpg style="height: auto; width: 100%;"></a>
<br>

<h3>Phantomnet</h3>

<a href=phantomnet.svg><img src=phantomnet.jpg
			    style="height: auto; width: 100%;"></a>
<br>
<h3>Powder</h3>
<a href=powder.svg><img src=powder.jpg
			    style="height: auto; width: 100%;"></a>
<br>

<h3>Utah Stitching</h3>
<a href=ddc.svg><img src=ddc.jpg style="height: auto; width: 100%;"></a>
<br>

<h3>Cloudlab Utah</h3>
<a href=cloudlab-utah.svg><img src=cloudlab-utah.jpg style="height: auto; width: 100%;"></a>
</center>
<br>
</div>
